{extend name="admin/base" /}
{block name="resources"/}
<link href="ADMIN_CSS/layer.css" rel="stylesheet" type="text/css">
<style>
.Switch_FlatCircular {
    line-height: 30px;
}
.style0list th{
	padding:11px 15px;
}
.prompt_information{
    color: orange;
	padding-left: 10px;
	margin:20px;
	border-left:3px solid orange;
}
</style>
{/block}
{block name="main"}
<div class="mod-table">
<input type="hidden" id="upgrade_typeid" value=""/>
   	<div class="prompt_information" id="warning_info" > 
		<strong>建议您在更新前，备份相关的程序及数据信息，以免更新失败给您造成不必要的损失。</strong> 
	</div>
	<div class="con style0list" style="width:100%">
		<table>
			<colgroup>
				<!-- <col style="width: 1%"> -->
				<col style="width: 15%;">
				<col style="width: 15%;">
				<col style="width: 10%;">
				<col style="width: 14%;">
				<col style="width: 15%;">
				<col style="width:auto">
			</colgroup>
			<thead>
				<tr align="">
					<th>更新名称</th>
					<th>更新包编号</th>
					<th>版本号</th>
					<th>更新包文件</th>
					<th>文件大小</th>
					<th>升级状态</th>
					<th>操作</th>
				</tr>
			</thead>
		
			<tbody id="linkList"></tbody>
		</table>
	</div>
</div>


<div class="modal fade hide" id="up_patch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">在线升级</h4>
			</div>
			<div class="modal-body">
				<div class="modal-infp-style" style="height:70px;">
					<table class="modal-tab">
						<tr>
							<td style="width:70%">是否备份数据库</td>
							<td >
								<input id="is_backup" type="checkbox" class="checkbox"/>
							</td>
						</tr>
					</table>
				</div>
			</div>
			
			<div class="modal-footer">
				<input type="hidden" id="modify_username_hidden" />
				<button class="btn btn-info" onclick="upPatch()" id="butSubmit" style="display:inline-block;">升级</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
	
	<input type="hidden" id="p_type" value="0"/>
	<input type="hidden" id="p_release" value="0"/>
	<input type="hidden" id="patch_list"/>
</div>
<div id="back_patch" style="background:#f5f5f5;display:none;margin:auto;z-index:10;height:100%;width:100%">
   <div style="height:200px;width:200px;background:#000;opacity: 0.65;text-align:center;margin: auto;">
       <span>正在备份</span>
   </div>
</div>
<form action="{:__URL('ADMIN_MAIN/upgrade/upgradePatch')}" method="post" id="fpForm">
	<input type="hidden" id="patch_obj" name="upgradePatch_detail"/>
</form>
{/block}
{block name="script"}
<script src="ADMIN_JS/layer.js" type="text/javascript"></script>
<script type="text/javascript">
LoadingPages();
//分页数据
function LoadingPages() {
	var user_name = '{$devolution_user_name}';
	var password = '{$devolution_password}';
	$.ajax({
		type : "post",
		url : "{:__URL('ADMIN_MAIN/upgrade/onlineupdatelist')}",
		data : {
			"user_name" : user_name, 
			"password" : password
		},
		success : function(data) {
			$json_data=JSON.stringify(data["data"]);
			$("#patch_list").val($json_data);
			var html = '';
			if (data["data"].length > 0) {
				for (var i = 0; i < data["data"].length; i++) {
					html += '<tr align="center">';
					html += '<td class="cell_total">' + data["data"][i]["patch_name"]+ '</td>';
					html += '<td><span class="patch_release">'+ data["data"][i]["patch_release"]+'</span></td>';
					html += '<td >' + data["data"][i]["patch_no"]+ '</td>';
					html += '<td ><a href="'+data["data"][i]["patch_download_url"]+'" target="view_frame">' + data["data"][i]["patch_file_name"]+ '</a></td>';
					html += '<td >' + data["data"][i]["patch_file_size"]+ '</td>';
					html += '<td style="color:red;">未升级</td> ';
					if(i!=data["data"].length-1){
						html += '<td style="color:#999999;">请自下而上依次更新</td> ';
					}else{
						html += '<td><a href="javascript:;" onclick="update('+data["data"][i]["patch_id"]+')">在线升级</a>&nbsp;&nbsp;&nbsp;<a href="'+data["data"][i]["patch_download_url"]+'" target="view_frame">手动下载更新</a></td> ';
					}
					html += '</tr>';
				}
			} else {
				html += '<tr align="center"><td colspan="7">暂无更新</td></tr>';
			}
			$(".style0list tbody").html(html);
		}
	});
}

//升级判断
function update($patch_id){
	$patch_list=$("#patch_list").val();
	$patch_list=eval($patch_list);
	for(var i=0; i<$patch_list.length; i++){
		if($patch_list[i]["patch_id"]==$patch_id){
			$upgrade_info=JSON.stringify($patch_list[i]);
			$("#patch_obj").val($upgrade_info);
		}
		
	}
	$("#fpForm").submit();
}

//一键升级
function batchDelete() {
	$("#upgrade_typeid").val(0);
	$("#up_patch").modal("show");
}

//升级
function upPatch(){
	var is_backup = 0;
	var patch_release = $("#p_release").val();
	var user_name = '{$devolution_user_name}';
	var password = '{$devolution_password}';
	var upgrade_type=$("#upgrade_typeid").val();
	if($("#is_backup").prop("checked")){
		is_backup = 1;
	}
	//备份数据库
	if(is_backup == 1){
		$.ajax({
			type : "post",
			url : "{:__URL('ADMIN_MAIN/upgrade/database_backup')}",
			dataType : "json",
			beforeSend: function () {
				this.layerIndex = layer.load(1, { shade: [0.5, '#fff'] });
				layer.msg('<div style="color:#fff;height:150px;width:200px;margin-top:50px;"><img src="__STATIC__/images/patch.gif" style="margin-bottom:15px;"/><br/>正在备份数据库</div>',{time:10000}); 
			},
			success : function(data) {
				layer.closeAll();
				if(data['code']==0){
					//升级补丁
					$.ajax({
						type : "post",
						url : "{:__URL('ADMIN_MAIN/upgrade/upversionpatch')}",
						data : {
							"patch_release" : patch_release,
							"user_name" : user_name,
							"password" : password,
							"upgrade_type":upgrade_type
						},
						dataType : "json",
						beforeSend: function () {
							this.layerIndex = layer.load(1, { shade: [0.5, '#fff'] });
							layer.msg('<div style="color:#fff;height:150px;width:200px;margin-top:50px;"><img src="__STATIC__/images/patch.gif" style="margin-bottom:15px;"/><br/>正在升级</div>',{time:10000});  
						},
						success : function(data) {
							layer.closeAll();
							if(data['code']==0){
								showMessage('success', data["message"]);
								$("#up_patch").modal("hide");
								window.location.reload();
							}else{
								showMessage('error', data["message"]);
							}
						}
					});
				}else{
					showMessage('error', data["message"]);
				}
			}
		});
	}else{
		$.ajax({
			type : "post",
			url : "{:__URL('ADMIN_MAIN/upgrade/upversionpatch')}",
			data : {
				"patch_release" : patch_release,
				"user_name" : user_name,
				"password" : password,
				"upgrade_type":upgrade_type
			},
			dataType : "json",
			beforeSend: function () {
				 this.layerIndex = layer.load(1, { shade: [0.5, '#fff'] });
				 layer.msg('<div style="color:#fff;height:150px;width:200px;margin-top:50px;"><img src="__STATIC__/images/patch.gif" style="margin-bottom:15px;"/><br/>正在升级</div>',{time:10000});
			},
			success : function(data) {
				layer.closeAll();
				if(data['code']==0){
					showMessage('success', data["message"]);
					$("#up_patch").modal("hide");
					window.location.reload();
				}else{
					showMessage('error', data["message"]);
				}
			}
		});
	}
}
function searchData(){
	LoadingInfo(1);
}
</script>

{/block}