{extend name="admin/base" /}
{block name="resources"/}
<link rel="stylesheet" type="text/css" href="ADMIN_CSS/product.css">
<style type="text/css">
.fun-a {
	margin-top: 0px;
	padding: 6px 15px 0 15px;
}
.style0list tbody td a{
	margin-left: 8px;
}
.num{width:40px;text-align:center;}	
.cell_total{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width:250px;display: block;}
.style0list table input {
	margin-bottom: 0px;
}

.style0list table input.sort {
	width: auto;
	text-align: center;
}

.style0list tbody td {
	line-height: 28px;
}
</style>
{/block}
{block name="right_tab"}
<li><a class="nscs-table-handle_green" href="{:__URL('ADMIN_MAIN/cms/addtopic')}" ><i class="fa fa-plus-circle"></i>&nbsp;添加专题</a></li>
{/block}
{block name="main"}
<div class="operation">
	<a class="btn btn-small fun-a" href="javascript:batchDelete()">批量删除</a>
</div>
<div class="mod-table">
	<div class="con style0list">
		<table>
			 <colgroup>
				<col style="width: 1%">
<!-- 				<col style="width: 5%;"> -->
				<col style="width: 40%;">
				<col style="width: 10%;">
				<col style="width: 15%;">
				<col style="width: 15">
			</colgroup>
			<thead>
				<tr align="center">
					<th><label><input id="ckall" type="checkbox" onClick="CheckAll(this)"></label></th>
					<!-- <th class="x-tab"><div class="iconbg-arrow up">排序</div></th> -->
					<th class="x-tab tal"><div class="iconbg-arrow up">标题</div></th>
					<th class="x-tab"><div class="iconbg-arrow up">状态</div></th>
					<th class="x-tab"><div class="iconbg-arrow up">发布时间</div></th>
					<th class="x-tab">操作</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
//分页数据
function LoadingInfo(page_index) {
	var search_text = $("#search_text").val();
	$.ajax({
		type : "post",
		url : "{:__URL('ADMIN_MAIN/cms/topiclist')}",
		async : true,
		data : {
			"page_index" : page_index, "page_size" : $("#showNumber").val(), "search_text" : search_text
		},
		success : function(data) {
		//	alert(JSON.stringify(data));
			var html = '';
			if (data["data"].length > 0) {
				for (var i = 0; i < data["data"].length; i++) {
					html += '<tr align="center">';
					html += '<td><div class="cell"><label><input name="sub" type="checkbox" value="'+ data['data'][i]['topic_id']+'" ></label></div></td>';
					//html += '<td><input type="number" min="0" value="'+ data["data"][i]["topic_id"]+'"  fieldid="'+ data['data'][i]['topic_id']+'" class="num" ></td>';	
					html += '<td class="tal" title="'+data["data"][i]["title"]+'">' + data["data"][i]["title"]+ '</td>';
					if(data["data"][i]["status"]==0){
						html += '<td>未发布</td>';	
					}else{ 
						html += '<td>已发布</td>';
					}
					html += '<td>' + timeStampTurnTime(data["data"][i]["create_time"])+ '</td>';
					html += '<td><a target="_blank" href="'+__URL('SHOP_MAIN/topic/detail?topic_id='+ data['data'][i]['topic_id'])+'">预览</a><a href="'+__URL('ADMIN_MAIN/cms/updatetopic?id='+ data['data'][i]['topic_id'])+'">修改</a><a style="cursor: pointer;" onclick="deleteTopic('+data['data'][i]['topic_id']+')">删除</a></td> ';
					html += '</tr>';
				}
			} else {
				html += '<tr align="center"><th colspan="9">暂无专题</th></tr>';
			}
			$(".style0list tbody").html(html);
			initPageData(data["page_count"],data['data'].length,data['total_count']);
			$("#pageNumber").html(pagenumShow(jumpNumber,$("#page_count").val(),{$pageshow}));
			load();
		}
	});
}	

function batchDelete() {
	var topic_id= new Array();
	$(".style0list tbody input[type='checkbox']:checked").each(function() {
		if (!isNaN($(this).val())) {
			topic_id.push($(this).val());
		}
	});
	if(topic_id.length ==0){
		$( "#dialog" ).dialog({
			buttons: {
				"确定,#e57373": function() {
					$(this).dialog('close');
				}
			},
			contentText:"请选择需要操作的记录",
			title:"消息提醒",
		});
		return false;
	}
	deleteTopic(topic_id);
}
var flag = false;
//删除
function deleteTopic(topic_id){
	$( "#dialog" ).dialog({
		buttons: {
			"确定": function() {
				$(this).dialog('close');
				if(!flag){
					flag = true;
					$.ajax({
						type : "post",
						url : "{:__URL('ADMIN_MAIN/cms/deletetopic')}",
						data : {
							"topic_id" : topic_id.toString()
						},
						dataType : "json",
						success : function(data) {
							if (data["code"] > 0) {
								showMessage('success', data["message"]);
								LoadingInfo(getCurrentIndex(topic_id,'.style0list tbody'));
							}else{
								showMessage('error', data["message"]);
							}
							flag = false;
						}
					})
				}
			},
			"取消,#e57373": function() {
				$(this).dialog('close');
			}
		},
	contentText:"是否删除专题？",
	});
}

/*修改排序*/
function load(){
	$('.num').change(function(){
		var fieldid = $(this).attr('fieldid');
		var sort = $(this).val();
		$.ajax({
			type:"post",
			url:"{:__URL('ADMIN_MAIN/cms/modifyarticlefield')}",
			data:{'fieldid':fieldid,'sort':sort},
			async:true,
			success: function (data) {
				if(data['code'] <= 0){
					showMessage('error', data["message"]);
				}
			}
		});
	});
}
//全选
function CheckAll(event){
	var checked = event.checked;
	$(".style0list tbody input[type = 'checkbox']").prop("checked",checked);
}
</script>
{/block}