@charset "utf-8";
/* CSS Document */
.breadcrumb{ margin-bottom: 0px;}
.all-category-list{ width: 100%; height: auto; position: relative; background: #fff;}
.all-category-items{ width: 100%; height: auto; background: #fff; z-index: 10; left: 0; top: 0px;}
.all-category-items.all-category-items-fixed{ position: fixed;}
.all-category-items ul{ overflow: hidden; width: 1210px; margin: 0px auto; padding-top: 10px;}
.all-category-items li{ float: left; height: 30px; line-height: 30px; padding: 0 18px; background: #eeeeee; margin: 0 10px 10px 0; cursor: pointer; white-space: nowrap; color: #fff;}
.all-category-items li a{ font-size: 14px; font-family: "microsoft yahei"; color: #888; display: inline-block;}
.all-category-items li.current a,.all-category-items li:hover a{ color: #fff;}
.all-warpper { position: relative;}
.all-category-floor{ width: 100%; /*float: left;*/ margin-bottom: 18px;}
.all-category-floor .floor-top{ height: 40px; background: #fff;}
.all-category-floor .floor-top .title{ float: left; line-height: 40px; font-size: 16px; font-family: "microsoft yahei"; color: #333; margin-left: 16px;}
.all-category-floor .floor-top{ background: #D3ECFF;}
.floor-bot{ width: 100%; margin-top: 16px;}
.floor-bot .floor-category-list{ width: 1210px;/* float: left;*/ font-family: "microsoft yahei"; border-bottom: 1px solid #ddd;}
.floor-bot .floor-category-list dl{ width: 100%; border-top: 1px solid #ddd; background: #f2f2f2; overflow: hidden;}
.floor-bot .floor-category-list dl.last{ border-bottom: 1px solid #ddd;}
.floor-bot .floor-category-list dt{ float: left; width: 175px; min-height: 20px; height: auto; padding: 10px 25px 9px 0px; text-align: right;}
.floor-bot .floor-category-list dt a{ font-size: 14px; color: #666;}
.floor-bot .floor-category-list dd{ float: left; padding: 10px 10px 10px 0px; width: 1000px; min-height:20px; background: #fff;}
.floor-bot .floor-category-list dd a{ float: left; color: #888; padding-left: 20px; white-space: nowrap;}
/*没有信息内容时显示*/
.pos-r .tip-box { position: static; margin: 50px auto 0; padding-top:0px;}
.tip-box { position: absolute; top: 50%; width: 270px; margin-top: -100px; text-align: center;}
.tip-box .tip-icon { display: block; width: 156px; height: 85px; margin: 0 auto; background: url(../images/noresult.png) no-repeat 0 0;}
.tip-box .tip-text { line-height: 20px; padding: 10px;}
.notGoodsCategory{
	width: 1210px;
	height: 150px;
	padding: 50px 0;
	text-align: center;
}
.notGoodsCategory p{
	color: #aaa;
	margin-top: 8px;
} 