@charset "utf-8";

/********弹框提示信息********/
.pop-header .pop-close, .pop-con .pop-icon {
	background: url(../images/common/common-icon.png) no-repeat;
}

.pop-mask {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.15;
	filter: alpha(opacity = 15);
	left: 0;
	top: 0;
	z-index: 999999;
	display: none;
	s
}

.pop-main {
	border: 4px solid rgba(0, 0, 0, .1);
	border: 4px solid #ccc\9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 410px;
	position: fixed;
	z-index: 1000001;
	display: none;
	overflow: hidden;
	left: 50%;
	margin-left: -209px;
}

.pop-header {
	position: relative;
	padding: 0 10px;
	height: 36px;
	line-height: 36px;
	background: #f7f7f7;
	font-size: 14px;
	color: #666;
	font-family: "Microsoft YaHei";
}

.pop-header .pop-close, .pop-header .tell-me-close {
	display: block;
	width: 13px;
	height: 13px;
	background-position: -41px -44px;
	position: absolute;
	right: 13px;
	top: 13px;
}

.pop-con {
	padding: 10px 10px 20px;
	background: #fff;
	position: relative;
	min-height: 80px;
	text-align: center;
}

.pop-con .pop-icon {
	display: block;
	width: 39px;
	height: 39px;
	background-position: -118px -43px;
	position: absolute;
	left: 20px;
	top: 20px;
}

.pop-con .pop-text {
	padding: 10px 20px 15px 60px;
	font-size: 14px;
	line-height: 1.5em;
	text-align: left;
}

.cancel-btn {
	display: inline-block;
	background: #f5f5f5;
	height: 28px;
	line-height: 28px;
	padding: 0 25px;
	border: 1px solid #ddd;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
	vertical-align: top;
}

.cancel-btn:hover {
	color: #666;
}

.sure-btn, .pop-sure {
	display: inline-block;
	width: auto;
	padding: 0 25px;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #0689e1;
	background: #0689e1;
	cursor: pointer;
	margin-right: 20px;
}

.sure-btn:hover, .pop-sure:hover {
	color: #fff;
}

.spe-btn .sure-btn {
	margin-right: 20px;
}

.pop-btn {
	display: inline-block;
	margin: 0 auto;
	padding: 10px 0 15px;
}

.pop-compare-small .pop-con {
	padding: 30px 90px 30px 110px;
}

.pop-compare-small .pop-con .pop-icon {
	left: 115px;
	top: 42px;
}

.pop-compare-small .pop-con .pop-text {
	font-size: 18px;
	font-weight: bold;
	color: #FF9149;
}
/*商品加入购物车选择属性*/
#speDiv {
	background: rgba(0, 0, 0, .1);
	background: #ccc\9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 500px;
	padding: 4px;
	height: auto;
	position: fixed;
	z-index: 10000;
	left: 50%;
	margin-left: -245px;
}

#speDiv .spe-close {
	width: 13px;
	height: 13px;
	background: url(../images/common/common-icon.png) no-repeat;
	background-position: -41px -44px;
	position: absolute;
	right: 13px;
	top: 13px;
	cursor: pointer;
}

#speDiv .attr-list, #speDiv .spe-btn {
	background: #fff;
	overflow: hidden;
}

#speDiv .attr-list {
	padding: 20px 20px 0 20px;
}

#speDiv .attr-list .dt, #speDiv .attr-list .dd {
	float: left;
}

#speDiv .attr-list .dt {
	float: left;
	height: 28px;
	line-height: 28px;
	min-width: 60px;
	text-align: right;
	margin-right: 10px;
}

#speDiv .attr-list .dd {
	min-width: 260px;
	float: left;
}

#speDiv .attr-list .attr-radio {
	float: left;
	margin: 0px 10px 10px 0;
	letter-spacing: normal;
	word-spacing: normal;
	display: inline-block;
	position: relative;
	height: 26px;
	line-height: 26px;
	border: 1px solid #ddd;
	cursor: pointer;
}

#speDiv .attr-list .attr-radio.curr {
	background: url(../images/bg_attr_sel_zyh.png) no-repeat bottom right;
	border: 1px solid #0689e1;
}

#speDiv .attr-list .attr-radio label {
	display: block;
	padding: 0 7px;
	cursor: pointer;
	line-height: 26px;
	height: 26px;
}

#speDiv .attr-list .attr-radio input {
	display: none;
}

#speDiv .spe-btn {
	text-align: center;
	padding-bottom: 20px;
}