{extend name="adminblue/base" /}
{block name="resources"}
<script type="text/javascript" charset="utf-8" src="ADMIN_JS/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="ADMIN_JS/ueditor/ueditor.all.common.js"></script>
{/block}
{block name="main"}
<div class="set-style">
	<dl>
		<dt><span class="required">*</span>专题标题</dt>
		<dd>
			<input id="title" type="text" class="input-common" />
			<span class="error">请输入专题标题</span>
		</dd>
	</dl>
	<dl>
		<dt>专题封面</dt>
		<dd>
			<div class="class-logo">
				<p>
					<img id="imglogo">
				</p>
			</div>
			<div class="upload-btn">
				<span>
					<input class="input-file" name="file_upload" id="uploadImg" type="file" onchange="imgUpload(this)">
					<input type="hidden" id="logo" />
				</span>
				<p><i class="fa fa-cloud-upload"></i>上传图片</p>
			</div>
			<p class="hint">
				<br> <span style="color: orange;">建议使用宽1200像素-高300像素内的GIF或PNG透明图片；点击下方"提交"按钮后生效。</span>
			</p>
		</dd>
	</dl>

	<dl>
		<dt>专题内容</dt>
		<dd>
			<script id="editor" type="text/plain" style="width: 100%; height: 100px;"></script>
		</dd>
	</dl>

	<div style="margin:auto;width:30%;">
		<button class="btn-common" onclick="save(1)" style="float:left;margin-right:15px;">存为草稿</button>
		<button class="btn-common" onclick="save(2)" style="float:left;">发布专题</button>
	</div>
</div>
<script src="__STATIC__/js/ajax_file_upload.js" type="text/javascript"></script>
<script src="__STATIC__/js/file_upload.js" type="text/javascript"></script>
<script>
function validation(){
	var title=$("#title");//专题标题
	if(title.val() == ""){
		title.next().css("display","inline-block");
		title.focus();
		return false;
	}
	return true;
}
var flag = false;//防止重复提交
var ue = UE.getEditor('editor',{
	toolbars : [
		[ 'source', // 源代码
		'bold', // 加粗
		'italic', // 斜体
		'underline', // 下划线
		'strikethrough', // 删除线
		'forecolor', // 字体颜色
		'backcolor', // 背景色
		'fontfamily', // 字体
		'fontsize', // 字号
		'paragraph', // 段落格式
		'justifyleft', // 居左对齐
		'justifycenter', // 居中对齐
		'justifyright', // 居右对齐
		'superscript', // 上标
		'blockquote', // 引用
		'selectall', // 全选
		'preview', // 预览
		'removeformat', // 清除格式
		'inserttable', // 插入表格
		'unlink', // 取消链接
		'insertrow', // 前插入行
		'insertcol', // 前插入列
		'mergeright', // 右合并单元格
		'mergedown', // 下合并单元格
		'deleterow', // 删除行
		'deletecol', // 删除列
		'splittorows', // 拆分成行
		'splittocols', // 拆分成列
		'splittocells', // 完全拆分单元格
		'deletecaption', // 删除表格标题
		'inserttitle', // 插入标题
		'mergecells', // 合并多个单元格
		'deletetable', // 删除表格
		'cleardoc', // 清空文档
		 'simpleupload', // 单图上传
		'insertimage', // 多图上传
		'link', // 超链接
		'emotion', // 表情
		'insertorderedlist', // 有序列表
		'insertunorderedlist', // 无序列表
		'fullscreen', // 全屏
		'directionalityltr', // 从左向右输入
		'directionalityrtl', // 从右向左输入
		'imagenone', // 默认
		'imageleft', // 左浮动
		'imageright', // 右浮动
		// 'attachment', // 附件
		'imagecenter', // 居中
		'lineheight', // 行间距
		'customstyle', // 自定义标题
		]]
});
$(function(){
	UE.getEditor('editor').addListener( 'ready', function() {
		if($("#content").val()){
			UE.getEditor('editor').setContent($("#content").val());
		}
	} );
})

function save(type){
	if(type==1){
		var status=0;
	}else{
		var status=1;
	}
	var title = $("#title").val();
	var image = $("#logo").val();
	var content = UE.getEditor('editor').getContent();
	
	if(!validation()){
		return;
	}
	if(flag){
		return;
	}
	flag = true;
	$.ajax({
		type:"post",
		url:"{:__URL('ADMIN_MAIN/cms/addtopic')}",
		data:{
			'title':title,
			'image':image,
			'content':content,
			'status':status
		},
		success:function(data){
			if (data["code"] > 0) {
				showMessage('success', data["message"]);
				location.href=__URL("ADMIN_MAIN/cms/topiclist");
			}else{
				showMessage('error', data["message"]);
				flag = false;
			}
		}
	});
}

//图片上传
function imgUpload(event) {
	var fileid = $(event).attr("id");
	var data = { 'file_path' : UPLOADCOMMON };
	uploadFile(fileid,data,function(res){
		if(res.code){
			$("#imglogo").attr("src",__IMG(res.data));
			$("#logo").val(res.data);
			showTip(res.message,"success");
		}else{
			showTip(res.message,"error");
		}
	});
}
</script>
{/block}