<!-- 编辑商品公共代码 -->
<div id="fixedNavBar">
	<h3>页面导航</h3>
	<ul>
		<li data-floor="js-goods-info"><a href="javascript:;">商品信息</a></li>
		<li data-floor="js-goods-type"><a href="javascript:;">商品类型</a></li>
		<li data-floor="js-goods-img"><a href="javascript:;">商品图片</a></li>
		<li data-floor="js-goods_detail"><a href="javascript:;">商品详情</a></li>
		<li data-floor="js-goods-express-info"><a href="javascript:;">商品物流信息</a></li>
		<li data-floor="js-goods-point"><a href="javascript:;">积分购买设置</a></li>
		<li data-floor="js-goods-other"><a href="javascript:;">其他信息</a></li>
	</ul>
</div>
<div class="js-mask-layer" style="display:none;background: rgba(0,0,0,0);position:fixed;width:100%;height:100%;top:0;left:0;right:0;bottom:0;z-index:90;"></div>