{extend name="admin/base" /}
{block name="resources"/}
<link rel="stylesheet" type="text/css" href="ADMIN_CSS/product.css">
<script type="text/javascript" src="__STATIC__/My97DatePicker/WdatePicker.js"></script>
<style type="text/css">
.tr-title {
	height: 30px;
	background: #E3E3E3;
	border:1px solid rgba(234, 233, 233, 0.51);
}
.a-pro-view-img {
	float: left;
}

.thumbnail-img {
	width: 60px;
	margin-right: 10px;
}

.cell i {
	display: block;
}
.remodal-bg.with-red-theme.remodal-is-opening,.remodal-bg.with-red-theme.remodal-is-opened {
	filter: none;
}
	
.remodal-overlay.with-red-theme {
	background-color: #f44336;
}

.remodal.with-red-theme {
	background: #fff;
}

input[type="radio"], input[type="checkbox"] {
	margin: -1px 5px 0;
	margin-left:0px;
}
.edit-group{
	border-bottom: 1px solid #ebebeb;
	margin-bottom:10px;
}
.edit-group label{	
	font-weight:normal;
}
.edit-group-title{
	height:15px;
	line-height:15px;
	width:140px;
	margin-top:3px;
	margin-bottom:3px;
}
.edit-group-button{
	border-color: #3283fa;
	border: 1px solid #bbb;
	height: 26px;
	line-height: 24px;
	padding: 0 5px;
}
.group-button-bg{
	background: #3283fa;
	color: #fff;
}
.div-pro-view-name {
	width: 100%;
	min-height: 60px;
}
i.hot,i.recommend,i.new{font-size:12px;margin-right:5px;font-style:normal;color:#fff;background-color:#E84C3D;border-radius:2px;padding:1px 2px;position: relative;top: -5px;}

.icon-qrcode:before {
    content: "\f029";
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}
.goodsCategory{
	width: 192px;
	height: 300px;
	border:1px solid #CCCCCC;
	position: absolute;
	z-index: 100;
	background: #fff;
	left: 0;
	display: none;
	overflow-y: auto;
}
.goodsCategory::-webkit-scrollbar{
	width: 3px;
} 
.goodsCategory::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}
.goodsCategory::-webkit-scrollbar-thumb{
    /*width: 10px;*/
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #ccc;
}
.goodsCategory ul{
	height: 280px;
	margin-top: -2px;
	margin-left: 0;
}
.goodsCategory ul li{
	text-align: left;
	padding:0 15px;
	line-height: 30px;
}
.goodsCategory ul li i{
	float: right;
	line-height: 30px;
}
.goodsCategory ul li:hover{
	cursor: pointer;
}
.goodsCategory ul li:hover,.goodsCategory ul li.selected{
	background: #00C0FF;
	color: #fff;
}
.two{
	left: 194px;
	border-left:0;
}
.three{
	left: 387px;
	width: 198px;
	border-left:0;
}
.selectGoodsCategory{
	width: 192px;
	height: 45px;
	border:1px solid #CCCCCC;
	position: absolute;
	z-index: 100;
	left: 0;
	margin-top: 301px;
	border-collapse: collapse;
	background: #fff;
	display: none;
}
.selectGoodsCategory a{
	display: block;
	height: 30px;
	width: 100px;
	text-align: center;
	color: #fff;
	line-height: 30px;
	margin:8px;
	background: #00C0FF;
	text-decoration:none;
}
.RIGHT{
	min-height: 800px;
}
input[type=number] {    
	-moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {    
	-webkit-appearance: none;    
	margin: 0;
}
.table th, .table td {
	 vertical-align: middle; 
}
.recommendBox{
	width: 275px;
	display: inline-block;
	float: right;
}
.introduction_box{
	width: 360px;
	display: inline-block;
	float: right;
}
input, textarea, .uneditable-input {
    width: 182px;
}
.editGoodsIntroduction{
	display: inline-block;
	border:1px dashed #fff;
	padding: 0 5px;
	width: 260px;
	line-height: 20px;
	max-height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 20px;
}
.editGoodsIntroduction:hover{
	border-color: #ddd;
	cursor: pointer;
}
.editGoodsIntroduction + input{
	display: inline-block;
	border:1px solid #00C0FF;
	padding: 0 5px;
	width: 260px;
	line-height: 20px;
	height: 20px;
	background: #EEF7FF;
	display: none;
}
.padding_none{
	height: auto;
}
#more_search{
	display: block;
}
</style>
{/block}
{block name="right_tab"}
<li><a class="nscs-table-handle_green" href="{:__URL('ADMIN_MAIN/goods/addgoods')}"><i class="fa fa-plus-circle"></i>&nbsp;发布商品</a></li>
{/block}
{block name="main"}
<div class="js-mask-category" style="display:none;background: rgba(0,0,0,0);position:fixed;width:100%;height:100%;top:0;left:0;right:0;bottom:0;z-index:90;"></div>
<table class="mytable">
	<tr>
		<th style="line-height:33px;text-align: right;display: block;">
			<div style="display: block;">
				商品分类：
				<div style="position: relative;display: inline-block;">
					<input type="text" placeholder="请选择商品分类" id="goodsCategoryOne" is_show="false" >
					<div class="goodsCategory one">
						<ul>
							{volist name="oneGoodsCategory" id="vo"}
							<li class="js-category-one" category_id="{$vo.category_id}">{$vo.category_name}
							{if condition="$vo.is_parent eq 1"}
								<i class="fa fa-angle-right fa-lg"></i>
							{/if}
							</li>
							{/volist}
						</ul>
					</div>
					<div class="goodsCategory two" style="border-left:0;">
						<ul id="goodsCategoryTwo">
							
						</ul>
					</div>
					<div class="goodsCategory three">
						<ul id="goodsCategoryThree">
							
						</ul>
					</div>
					<div class="selectGoodsCategory">
						<a href="javascript:;" id="confirmSelect" style="float:right;">确认选择</a>
					</div>
					<input type="hidden" id="category_id_1">
					<input type="hidden" id="category_id_2">
					<input type="hidden" id="category_id_3">
				</div>
				商品名称：<input id="goods_name" class="input-medium" type="text" value="{$search_info}" placeholder="要搜索的商品名称" >
				商品编码：<input id="goods_code" class="input-medium" type="text" placeholder="要搜索的商品编码" >
				<input type="button" value="更多搜索" class="more_search"/>
				<input type="button" onclick="searchData()" value="搜索" />
			</div>
			<div style="display: none;padding-top: 5px" id="more_search">
				商品标签：
				<input type="text" placeholder="请选择商品标签" style="margin-top: 5px;" id="selectGoodsLabel" onfocus="selectGoodsLabel();" is_show="false" data-html="true" class="input-common" title="<h6 class='edit-group-title'>选择商品标签</h6>" data-container="body" data-placement="bottom"  data-trigger="manual" data-content="<div class='edit-group' style='max-width:auto;'>
					{foreach $goods_group as $vo} 
					<p>
					<label class='checkbox-inline' style='display:inline-block;'>
					<input type='checkbox' value='{$vo.group_id}' onchange='clickGoodsLabel(this);'><span>{$vo.group_name}</span>&nbsp;&nbsp;&nbsp;
					</label>
				{/foreach}
				</div> 
				<button class='btn btn-small' onclick='confirm();' style='background:#00C0FF;border:none;color:#fff;'>确认</button>
				<button class='btn btn-small' onclick='hideGroup()'>取消</button>
				">
				供货商：
				<select id="supplier_id" style="margin-left: 12px;margin-top: 5px;">
					<option value="">全部</option>
					{notempty name="$supplier_list"}
					{volist name="$supplier_list" id="vo"}
					<option value="{$vo.supplier_id}">{$vo.supplier_name}</option>
					{/volist}
					{/notempty}
				</select>
				上下架：
				<select id="state">
					<option value="" {if condition="$state == ''"}selected{/if}>全部</option>
					<option value="1" {if condition="$state == '1' "}selected{/if}>上架</option>
					<option value="0" {if condition="$state == '0' "}selected{/if}>下架</option>
				</select>
			</div>
		</th>
	</tr>
</table>
<div id="myTabContent" class="tab-content" style="padding-top: 10px;">
	<div class="tab-pane active">
		<table class="table table-striped table-main" border="0">
			<colgroup>
				<col width="3%">
				<col width="35%">
<!-- 				<col width="10%"> -->
<!-- 				<col width="10%"> -->
				<col width="12%">
				<col width="6%">
				<col width="6%">
				<col width="7%">
				<col width="7%">
				<col width="7%">
				<col width="15%">
			</colgroup>
			<tbody>
				<tr class="table-title" style="background: #F9F9F9;border:1px solid #F1F1F1;">
					<th></th>
					<th>商品名称</th>
<!-- 					<th>商品标签</th> -->
<!-- 					<th>促销语</th> -->
					<th>价格（元）</th>
					<th>总库存</th>
					<th>销量</th>
					<th>上下架</th>
					<th>实物类型</th>
					<th style="text-align: center;">排序</th>
					<th style="text-align:center;">操作</th>
					<th></th>
					<th></th>
				</tr>
				<tr class="trcss">
					<td colspan="5">
						<label style="display: inline-block;vertical-align: middle;">
							<input onclick="CheckAll(this)" type="checkbox" id="chek_all">
							<span style="display: inline-block; margin-left: 0px; margin-right: 10px;font-weight: 400;">全选</span>
						</label>
						<a class="btn btn-small fun-a" href="javascript:batchDelete()">批量删除</a>
						<a class="btn btn-small fun-a upstore" href="javascript:void(0)" onclick="goodsIdCount('online')">上架</a>
						<a class="btn btn-small fun-a downstore" href="javascript:void(0)" onclick="goodsIdCount('offline')">下架</a>
						<a class="btn btn-small fun-a recommend" href="javascript:void(0)" onclick="ShowRecommend()" data-html="true" id="setRecommend" title="推荐"
						data-container="body" data-placement="bottom"  data-trigger="manual"
						data-content="<div class='edit-group' id='recommendType'>
 							<label class='checkbox-inline'><input type='checkbox' value='1'>热卖 </label>
							<label class='checkbox-inline'><input type='checkbox' value='2'>精品 </label>
							<label class='checkbox-inline'><input type='checkbox' value='3'>新品 </label>
							</div>
							<button class='edit-group-button group-button-bg' onclick='setRecommend();'>保存</button>
							<button class='edit-group-button' onclick='hideSetRecommend()'>取消</button>
							"
						>推荐</a>
						<a onclick="goodsGroupIdCount();" data-html="true" class="btn btn-small fun-a category" href="javascript:void(0)" id="editGroup" title="修改商品标签" data-container="body" data-placement="bottom"  data-trigger="manual"
							data-content="<div class='edit-group' id='goodsChecked' style='max-width:auto;'>
 							{foreach $goods_group as $vo} 
 							<p>
 							<label class='checkbox-inline' style='display:inline-block;' >
								<input type='checkbox' value='{$vo.group_id}'><b>{$vo.group_name}</b>&nbsp;&nbsp;&nbsp;
							</label>
							{foreach $vo['sub_list']['data'] as $vs}
							<label style='display:inline-block;'>
								<input type='checkbox' value='{$vs.group_id}'>{$vs.group_name}
								</label>
								{/foreach}
							</p>
							{/foreach}
							</div>
							<button class='edit-group-button group-button-bg' onclick='goodsGroupUpdate();'>保存</button>
							<button class='edit-group-button' onclick='hideEditGroup()'>取消</button>
							">
							商品标签</a>
						<a href="javascript:;"  class="btn btn-small fun-a category" title="更新二维码" onclick="batchUpdateGoodsQrcode();">更新二维码</a>
						<input type='hidden' value='' id='goods_type_ids'/>
					</td>
				</tr>
			</tbody>
			<tbody id="productTbody" style="border: 0px;"></tbody>
		</table>
	</div>
	<input type="hidden" id="selectGoodsLabelId">
	<input type="hidden" id="stock_warning" value="{$stock_warning}"> 
</div>
{/block}
{block name="script"}
<script type="text/javascript">
$(function(){
	$(".js-update-goods-name,.js-update-introduction").live("blur",function(){
		var up_type = $(this).attr("data-up-type");
		var goods_id = $(this).attr("data-goods-id");
		var editContent = $(this).val();
		var $self = $(this);
		if(editContent == ""){
			if(up_type == "goods_name"){
				showTip("商品名不可为空","warning");
				$(this).focus();
				return false;
			}
		}
		$.ajax({
			type : "post",
			url : "{:__URL('ADMIN_MAIN/goods/ajaxEditGoodsNameOrIntroduction')}",
			data : {
				"goods_id" : goods_id, 
				"up_type" : up_type, 
				"up_content" : editContent
			},
			success : function(data){
				if(data['code'] > 0){
					$self.prev(".editGoodsIntroduction").children("a").text(editContent);
				}
				$self.hide();
				$self.prev(".editGoodsIntroduction").show();
			}
		});
	}).live("keyup",function(event){
		if(event.keyCode == 13) $(this).blur();
	});
});
	//查询
	function searchData(){
		LoadingInfo(1);
	}
	/**
	 * 隐藏商品分组
	 */
	function hideEditGroup(){
		$("#editGroup").popover("hide");
	}
	
	function hideSetRecommend(){
		$("#setRecommend").popover("hide");
	}
	
	//查询用户列表
	function LoadingInfo(page_index) {
		var start_date = $("#startDate").val();
		var end_date = $("#endDate").val();
		var state = $("#state").val();
		var goods_name =$("#goods_name").val();
		var goods_code = $("#goods_code").val();
		var category_id_1 = $("#category_id_1").val();
		var category_id_2 = $("#category_id_2").val();
		var category_id_3 = $("#category_id_3").val();
		var selectGoodsLabelId = $("#selectGoodsLabelId").val();
		var supplier_id = $("#supplier_id").val();
		var stock_warning = $("#stock_warning").val();

		$.ajax({
			type : "post",
			url : "{:__URL('ADMIN_MAIN/goods/goodslist')}",
			data : {
				"page_index" : page_index,
				"page_size" : $("#showNumber").val(),
				"start_date":start_date,
				"end_date":end_date,
				"state":state,
				"goods_name":goods_name,
				"code":goods_code,
				"category_id_1" : category_id_1,
				"category_id_2" : category_id_2,
				"category_id_3" : category_id_3,
				"selectGoodsLabelId" : selectGoodsLabelId,
				"supplier_id" : supplier_id,
				"stock_warning" : stock_warning   
			},
			success : function(data) {
				//alert(JSON.stringify(data));
				var html = '';
				if (data["data"].length > 0) {
					for (var i = 0; i < data["data"].length; i++) {
						html += '<tr class="tr-title" style=" width: 1502px;"><td class="td-'+ data["data"][i]["goods_id"]+'"><label><input value="'
							+ data["data"][i]["goods_id"]
							+ '" tj="" name="sub" data-state="'+data["data"][i]["state"]+'" type="checkbox"></label></td>';
						html += '<td colspan="9" style="width: 97%;"><div style="display: inline-block; width: 100%;" class="pro-code"><span>商家编码'+'：'
							+ data["data"][i]["code"] + '</span>';
						/* if(data["data"][i]["state"] == 1){
							html += '<span class="pro-code" style="color: #f35252; float: right;"> <i class="fa fa-long-arrow-up" style="margin-right: 4px;"></i>已上架';
						}else{
							html += '<span class="pro-code" style="color: #27A9E3; float: right;"> <i class="fa fa-long-arrow-up" style="margin-right: 4px;"></i>已下架';
						} */
						html += '<span class="pro-code" style="margin-left:10px;">创建时间：'+timeStampTurnTime(data["data"][i]["create_time"]);
						
						html += '<span  class="div-flag-style" style="display: inline-block;margin:0 20px 0 40px;position:relative"> <i class="icon-qrcode"style="background: none; color: #555; font-size: 20px; margin-right: 0;"></i>';
						html += '<div class="QRcode" style="display: none; position: absolute;width:110px;top:28px;left:15px"id="qrcode"><p><img src="'+ __IMG(data["data"][i]["QRcode"])+'" style="width:110px;"></p></div></span>';
						html += '</span></div></td></tr>';
						html += '<tr><td colspan="2" style="background: white;"><div><a class="a-pro-view-img" href="'+__URL('SHOP_MAIN/goods/goodsinfo?goodsid='+data["data"][i]["goods_id"])+'" target="_blank" style="text-align:center;"><img class="thumbnail-img"src="'+__IMG(data["data"][i]["pic_cover_micro"])+'"></a>';
						html += '<div class="div-pro-view-name"><span style="color: #13A5D5;" class="thumbnail-name title='+ data["data"][i]["goods_name"]+'"><div class="editGoodsIntroduction padding_none" ondblclick="editGoodsInfo(this)"><a target="_blank" style="word-break:break-all;" href="'+__URL('SHOP_MAIN/goods/goodsinfo?goodsid='+data["data"][i]["goods_id"])+'">'
							+ data["data"][i]["goods_name"] + '</a></div><input class="js-update-goods-name" data-goods-id ="' + data['data'][i]['goods_id'] + '" data-up-type="goods_name" type="text" value="'+data["data"][i]['goods_name']+'"/></span><br/>';
						if(data["data"][i]['introduction'] != '' && data["data"][i]['introduction'] !=undefined){
							html += '<div class="editGoodsIntroduction" ondblclick="editGoodsInfo(this)"><a style="color:#999;font-size:12px;display:block;height:16px;overflow:hidden;text-decoration: none;">'+data["data"][i]['introduction']+'</a></div>';
							html += '<input  data-goods-id ="' + data['data'][i]['goods_id'] + '" data-up-type="introduction" class="js-update-introduction" type="text" maxlength="60" value="'+data["data"][i]['introduction']+'" />';
						}
						//html += '<div class="div-flag-style"><span class="" title=""><i class="icon-tablet"style="background: none; color: #555; font-size: 20px; margin-right: 0;"></i></span><span onmouseover="mouseover(this)" onmouseout="mouseout(this)"style="display: inline-block;"> <i class="icon-qrcode"style="background: none; color: #555; font-size: 20px; margin-right: 0;"></i></span>';
						//html += '<div class="QRcode" style="display: none; position: absolute;"id="qrcode"><p><img src=""></p></div></div>';
						//html += '<div class="introduction_box">'+data["data"][i]["introduction"]+'</div><br>';
						html += '<span class="recommendBox">';
						html += data["data"][i]["is_hot"] == 1 ? '<i class="hot">热</i>' : '';
						html += data["data"][i]["is_recommend"] == 1 ? '<i class="recommend">精</i>' : '';
						html += data["data"][i]["is_new"] == 1 ? '<i class="new">新</i>' : '';
						if(data["data"][i]['goods_group_name'] != '' && data["data"][i]['goods_group_name'] != undefined){
							var tmp_array = data["data"][i]['goods_group_name'].split(",");
							$.each(tmp_array,function(k,v){	
								if(v != ""){
									html += '<span style="color:#999;font-size:12px;padding:1.5px 4px;border-radius:3px;display:inline-block;color:#FFF;background-color:#de533c;width:40px;text-decoration: none;height:16px;line-height: 16px;overflow:hidden;margin-right:5px;text-align:center;">'+v+'</span>';
								}		
							})
						}
						html += '</span>';
						// html += '</div>';
					//	html += '<div style="margin-top:10px;">';
					//	html += data["data"][i]["is_hot"] == 1 ? '<i class="hot">热</i>' : '';
					//	html += data["data"][i]["is_recommend"] == 1 ? '<i class="recommend">荐</i>' : '';
					//	html += data["data"][i]["is_new"] == 1 ? '<i class="new">新</i>' : '';
					//	html += '<span  class="div-flag-style" style="display: inline-block;"> <i class="icon-qrcode"style="background: none; color: #555; font-size: 20px; margin-right: 0;"></i></span>';
					//	html += '<div class="QRcode" style="display: none; position: absolute;"id="qrcode"><p><img src="__ROOT__/'+ data["data"][i]["QRcode"]+'" style="width:110px;"></p></div>';
					//    html += '</div>';
						html += '</div></td>';
						html += '<td style="background: white;"><div class="priceaddactive"><span class="price-lable">原&nbsp;&nbsp;&nbsp;价：</span><span class="price-numble" style="color: #666;"id="moreChangePrice'+ data["data"][i]["goods_id"]+'"  >'
							+ data["data"][i]["price"]
							+ '</span></div>';
						html += '<div><span class="price-lable" >销售价：</span><span class="price-numble"id="moreChangePrice'+ data["data"][i]["goods_id"]+'" style="color:red;">'
							+ data["data"][i]["promotion_price"]
							+ '</span>';
						html += '</td>';
						html += '<td style="background: white;"><div class="cell"><span class="pro-stock" style="color: #666;"id="moreChangeStock'+ data["data"][i]["goods_id"] + '">'
							+ data["data"][i]["stock"]
							+ '</span></div></td>';
						html += '<td style="background: white;"><div class="cell"><span class="pro-stock" style="color: #666;"id="moreChangeStock'+ data["data"][i]["goods_id"]+'">'
							+ data["data"][i]["real_sales"]
							+ '</span></div></td>';
						if(data["data"][i]["state"] == 1){
							html += '<td style="background: white;"><a href="javascript:void(0)" onclick="modifyGoodsOnline('+data["data"][i]["goods_id"]+',\'offline\')">已上架</a></td>';
						}else{
							html += '<td style="background: white;"><a href="javascript:void(0)" onclick="modifyGoodsOnline('+data["data"][i]["goods_id"]+',\'online\')" style="color:#999;">已下架</a></td>';
						}
						
						html += '<td>';
						if(data['data'][i]['goods_type'] == 1){
							html += '<span>实物商品</span>';
						}else{
							html += '<span>虚拟商品</span>';
						}
						html += '</td>';
						
						html += '<td style="background: white;"><div class="cell"><input class="input-mini" goods_id="'
							+ data["data"][i]["goods_id"]
							+ '" style="width:38px;text-align:center;" value="'
							+ data["data"][i]["sort"]
							+ '" onchange="changeSort(this)"'
							+ 'type="number" title="排序号数值越大，商城商品列表显示越靠前"></div></td>';
						html += '<td style="background: white;"><div><div class="bs-docs-example tooltip-demo"style="text-align: center;">';
						html += '<a href="' + __URL("ADMIN_MAIN/goods/addgoods?step=2&goodsId="+ data["data"][i]["goods_id"]) + '" data-placement="bottom" data-original-title="编辑"><span class="edit" style="display: inline-block; width: 19%;"><i class="icon-edit" style="width: initial;"></i>编辑</span></a>';
						html += '<a href="javascript:;" data-placement="bottom" data-original-title="复制"><span class="edit" style="display: inline-block; width: 19%;" onclick="copyGoodsDetail('
							+ data["data"][i]["goods_id"]
							+ ')"><i class="icon-edit" style="width: initial;"></i>复制</span></a>';
						// html += '<a href="javascript:;" data-placement="bottom" ><span class="edit" style="display: inline-block; " onclick="updateGoodsQrcode('
						// 		+ data["data"][i]["goods_id"]
						// 		+ ')"><i class="icon-edit" style="width: initial;"></i>更新二维码</span></a>';
						html += '<a href="javascript:void(0)" data-placement="bottom"onclick="deleteGoods('
							+ data["data"][i]["goods_id"]
							+ ')" data-original-title="删除"><span class="del" style="display: inline-block; width: 19%;"><i class="icon-trash" style="width: initial;"></i>删除</span></a></div></div></td></tr>';
					}
				} else {
					html += '<tr align="center"><th colspan="9" style="text-align: center;font-weight: normal;color: #999;">暂无符合条件的数据记录</th></tr>';
				}
				$("#productTbody").html(html);
				initPageData(data["page_count"],data['data'].length,data['total_count']);
				$("#pageNumber").html(pagenumShow(jumpNumber,$("#page_count").val(),{$pageshow}));
				code();
			}
		});
	}
	
	//二维码.
 	function code(){
		$(".div-flag-style").mouseover(function(){
			$(this).children('.QRcode').show();
		});
		$(".div-flag-style").mouseout(function(){
			$(this).children('.QRcode').hide();
		});
	} 
	
	//全选
	function CheckAll(event){
		var checked = event.checked;
		$("#productTbody input[type = 'checkbox']").prop("checked",checked);
	}

	//商品上架id合计
	function goodsIdCount(line){
		var goods_ids= "";
		$("#productTbody input[type='checkbox']:checked").each(function() {
			if (!isNaN($(this).val())) {
				var state = $(this).data("state");
//				if(line == "online"){
//					if(state == 1){
//						$( "#dialog" ).dialog({
//							buttons: {
//								"确定": function() {
//									$(this).dialog('close');
//								}
//							},
//							contentText:"记录中包含已上架记录",
//							title:"消息提醒",
//						});
//						return false;
//					}
//				}else{
//					if(state == 0){
//						$( "#dialog" ).dialog({
//							buttons: {
//								"确定": function() {
//									$(this).dialog('close');
//								}
//							},
//							contentText:"记录中包含已下架记录",
//							title:"消息提醒",
//						});
//					return false;
//					}
//				}
				goods_ids = $(this).val() + "," + goods_ids;
			}
		});
		goods_ids = goods_ids.substring(0, goods_ids.length - 1);
		if(goods_ids == ""){
			$( "#dialog" ).dialog({
				buttons: {
					"确定": function() {
						$(this).dialog('close');
					}
				},
				contentText:"请选择需要操作的记录",
				title:"消息提醒",
			});
			return false;
		}
		modifyGoodsOnline(goods_ids,line);
	}
	
	//商品上下架
	function modifyGoodsOnline(goods_ids,line){
		if(line == "online"){
			var url = "{:__URL('ADMIN_MAIN/Goods/modifygoodsonline')}";
			var lingStr = "上架";
		}else{
			var url = "{:__URL('ADMIN_MAIN/Goods/modifygoodsoffline')}";
			var lingStr = "下架";
		}
		$.ajax({
			type : "post",
			url : url,
			data : { "goods_ids" : goods_ids },
			success : function(data) {
				if(data["code"] > 0 ){
					LoadingInfo(getCurrentIndex(goods_ids,'#productTbody','tr[class="tr-title"]'));
					$("#dialog" ).dialog({
						buttons: {
							"确定": function() {
								$(this).dialog('close');
							}
						},
						contentText:"商品"+lingStr+"成功",
						title:"消息提醒",
						time:3
					});
				}
			}
		})
	}
	
	function batchDelete() {
		var goods_ids= new Array();
		$("#productTbody input[type='checkbox']:checked").each(function() {
			if (!isNaN($(this).val())) {
				goods_ids.push($(this).val());
			}
		});
		if(goods_ids.length ==0){
			$( "#dialog" ).dialog({
				buttons: {
					"确定,#e57373": function() {
						$(this).dialog('close');
					}
				},
				contentText:"请选择需要操作的记录",
				title:"消息提醒",
			});
			return false;
		}
		deleteGoods(goods_ids);
	}
	
	function deleteGoods(goods_ids){
		$( "#dialog" ).dialog({
			buttons: {
				"确定": function() {
					$.ajax({
						type : "post",
						url : "{:__URL('ADMIN_MAIN/goods/deletegoods')}",
						data : { "goods_ids" : goods_ids.toString() },
						dataType : "json",
						success : function(data) {
							if(data["code"] > 0 ){
								LoadingInfo(getCurrentIndex(goods_ids,'#productTbody','tr[class="tr-title"]'));
								
								$("#dialog").dialog({
									buttons: {
										"确定": function() {
											$(this).dialog('close');
										}
									},
									modal: true,
									contentText:data["message"],
									title:"消息提醒",
									time:1
								});
								$("#chek_all").prop("checked", false);
							}
						}
					});
					$(this).dialog('close');
				},
				"取消,#e57373": function() {
					$(this).dialog('close');
				},
			},
			contentText:"确定要删除吗？",
		});
	}
	
	//商品修改分组id合计
	function goodsGroupIdCount(){
		var goods_ids= "";
		$("#productTbody input[type='checkbox']:checked").each(function() {
			if (!isNaN($(this).val())) {
				goods_ids = $(this).val() + "," + goods_ids;
			}
		});
		goods_ids = goods_ids.substring(0, goods_ids.length - 1);
		if(goods_ids == ""){
			$( "#dialog" ).dialog({
				buttons: {
					"确定": function() {
						$(this).dialog('close');
					}
				},
				contentText:"请选择需要操作的记录",
				title:"消息提醒",
			});
			return false;
		}
		$("#goods_type_ids").val(goods_ids);
		$("#editGroup").popover("show");
		$(".popover").css("max-width",'1000px');
	}
	
	//商品修改分组
	function goodsGroupUpdate(){
		var goods_type = "";
		var goods_ids = $("#goods_type_ids").val();
		$("#goodsChecked input[type='checkbox']:checked").each(function(){
			if (!isNaN($(this).val())) {
				goods_type = $(this).val() + "," + goods_type;
			}
		})
		// if(goods_type == ""){
		// 	$( "#dialog" ).dialog({
		// 		buttons: {
		// 			"确定": function() {
		// 				$(this).dialog('close');
		// 			}
		// 		},
		// 		contentText:"请选择需要操作的记录",
		// 		title:"消息提醒",
		// 	});
		// 	return false;
		// }
		goods_type = goods_type.substring(0, goods_type.length - 1);
		$.ajax({
			type : "post",
			url : "{:__URL('ADMIN_MAIN/goods/modifygoodsgroup')}",
			data : { "goods_id" : goods_ids, "goods_type" : goods_type },
			success : function(data) {
				if(data["code"] > 0 ){
					$("#editGroup").popover("hide");
					LoadingInfo(getCurrentIndex(goods_ids,'#productTbody','tr[class="tr-title"]'));
					$( "#dialog" ).dialog({
						buttons: {
							"确定": function() {
								$(this).dialog('close');
							}
						},
						contentText:data["message"],
						title:"消息提醒",
					});
				}
			}
		})
	}
	
	//显示 推荐选项
	function ShowRecommend(){
		var goods_ids= "";
		$("#productTbody input[type='checkbox']:checked").each(function() {
			if (!isNaN($(this).val())) {
				goods_ids = $(this).val() + "," + goods_ids;
			}
		});
		goods_ids = goods_ids.substring(0, goods_ids.length - 1);
		if(goods_ids == ""){
			$( "#dialog" ).dialog({
				buttons: {
					"确定": function() {
						$(this).dialog('close');
					}
				},
				contentText:"请选择需要操作的记录",
				title:"消息提醒",
			});
			return false;
		}
		$("#goods_type_ids").val(goods_ids);
		$("#setRecommend").popover("show");
	}

	$("#recommendType label").live("click",function(){
		if($(this).children("input").is(":checked")){
			$(this).children("input").prop("checked",false);
		}else{
			$("#recommendType label input").prop("checked",false);
			$(this).children("input").prop("checked",true);
		}
	})

	//修改为  推荐 商品
	function setRecommend(){
		var recommend_type = '';
		var goods_ids = $("#goods_type_ids").val();
		$("#recommendType input[type='checkbox']").each(function(){
			if ($(this).attr("checked") == 'checked') {
				var recommend_type_new = 1;
			}else{
				var recommend_type_new = 0;
			}
			recommend_type = recommend_type_new + "," + recommend_type;
		})
		if(recommend_type == ""){
			$( "#dialog" ).dialog({
				buttons: {
					"确定": function() {
						$(this).dialog('close');
					}
				},
				contentText:"请选择需要操作的记录",
				title:"消息提醒",
			});
			return false;
		}
		recommend_type = recommend_type.substring(0, recommend_type.length - 1);
		$.ajax({
			type : "post",
			url : "{:__URL('ADMIN_MAIN/goods/modifygoodsrecommend')}",
			data : { "goods_id" : goods_ids, "recommend_type" : recommend_type },
			success : function(data) {
				if(data["code"] > 0 ){
					$("#setRecommend").popover("hide");
					LoadingInfo(getCurrentIndex(goods_ids,'#productTbody','tr[class="tr-title"]'));
					$( "#dialog" ).dialog({
						buttons: {
							"确定": function() {
								$(this).dialog('close');
							}
						},
						contentText:data["message"],
						title:"消息提醒",
					});
				}
			}
		})
	}
	
	$("#goodsCategoryOne").click(function(){
		var isShow = $("#goodsCategoryOne").attr('is_show');
		if(isShow == "false"){
			$(".one").show();
			$(".selectGoodsCategory").css("width",'192px');
			$(".selectGoodsCategory").show();
			$("#goodsCategoryOne").attr('is_show','true');
			$(".js-mask-category").show();
		}else{
			$(".one").hide();
			$(".two").hide();
			$(".three").hide();
			$(".selectGoodsCategory").css("width",'192px');
			$(".selectGoodsCategory").hide();
			$("#goodsCategoryOne").attr('is_show','false');
		}
	});
	
	$(".js-mask-category").click(function(){
		$(".one").hide();
		$(".selectGoodsCategory").hide();
		$(".two").hide();
		$(".three").hide();
		$("#goodsCategoryOne").attr('is_show', 'false');
		$(this).hide();
	});
	
	$(".js-category-one").click(function(){
		parentId = $(this).attr("category_id");
		category_name = $(this).text();
		$(".one ul li").not($(this)).removeClass("selected");
		$(this).addClass("selected");
		$("#goodsCategoryOne").val($.trim(category_name)+">");
		$("#category_id_1").val(parentId);
		$("#category_id_2").val('');
		$("#category_id_3").val('');
		$.ajax({
			type : 'post',
			url : "{:__URL('ADMIN_MAIN/goods/getcategorybyparentajax')}",
			data : { "parentId" : parentId },
			success : function(data){
				
				if(data.length>0){
					html = '';
					for (var i = 0; i < data.length; i++) {
						html += '<li class="js-category-two" category_id="'+data[i]['category_id']+'">'+data[i]['category_name'];
						if(data[i]['is_parent'] == 1){
							html += '<i class="fa fa-angle-right fa-lg"></i>';
						}
						html += '</li>';
					}
					$("#goodsCategoryTwo").html(html);
					$(".two").show();
					$(".selectGoodsCategory").css("width",'385px');
				}else{
					$(".one").hide();
					$(".two").hide();
					$(".js-mask-category").hide();
					$(".selectGoodsCategory").hide();
					$("#goodsCategoryOne").attr('is_show', 'false');
				}
				$(".three").hide();
			}
		});
		return false;
	});
	
	$(".js-category-two").live("click",function(event){
		var parentId = $(this).attr("category_id");
		var category_name = $(this).text();
		$(".two ul li").not($(this)).removeClass("selected");
		$(this).addClass("selected");
		var goodsCategoryOne = $("#goodsCategoryOne").val();
		$("#goodsCategoryOne").val(goodsCategoryOne+''+category_name+'>');
		$("#category_id_2").val(parentId);
		$("#category_id_3").val('');
		$.ajax({
			type : 'post',
			url : "{:__URL('ADMIN_MAIN/goods/getcategorybyparentajax')}",
			data : {"parentId":parentId},
			success : function(data){
				if(data.length>0){
					html = ''
					for (var i = 0; i < data.length; i++) {
						html += '<li onclick="goodsCategoryThree(this);" category_id="'+data[i]['category_id']+'">'+data[i]['category_name']+'<i class="fa fa-angle-right fa-lg"></i></li>';
					}
					$("#goodsCategoryThree").html(html);
					$(".three").show();
					$(".selectGoodsCategory").css("width",'584px');
				}else{
					$(".one").hide();
					$(".two").hide();
					$(".three").hide();
					$(".selectGoodsCategory").hide();
					$(".js-mask-category").hide();
					$("#goodsCategoryOne").attr('is_show', 'false');
				}
			}
		})
		event.stopPropagation();
	});
	function goodsCategoryThree(obj){
		var parentId = $(obj).attr("category_id");
		var category_name = $(obj).text();
		$(".three ul li").not($(obj)).removeClass("selected");
		$(obj).addClass("selected");
		var goodsCategoryOne = $("#goodsCategoryOne").val();
		$("#goodsCategoryOne").val(goodsCategoryOne+''+category_name);
		$("#category_id_3").val(parentId);
		$(".one").hide();
		$(".two").hide();
		$(".three").hide();
		$(".selectGoodsCategory").hide();
		$(".js-mask-category").hide();
		$(".selectGoodsCategory").css("width",'192px');
		$("#goodsCategoryOne").attr('is_show','false');
	}
	$("#confirmSelect").click(function(){
		$(".one").hide();
		$(".two").hide();
		$(".three").hide();
		$(".selectGoodsCategory").hide();
		$(".selectGoodsCategory").css("width",'192px');
	})
	
	function copyGoodsDetail(goods_id){
		$( "#dialog" ).dialog({
			buttons: {
				"确定": function() {
					$.ajax({
						type : "post",
						url : "{:__URL('ADMIN_MAIN/goods/copygoods')}",
						data : {"goods_id":goods_id},
						dataType : "json",
						success : function(data) {
							if(data["code"] > 0 ){
								LoadingInfo(getCurrentIndex(goods_id,'#productTbody','tr[class="tr-title"]'));
								
								$("#dialog").dialog({
									buttons: {
										"确定": function() {
											$(this).dialog('close');
										}
									},
									modal: true,
									contentText:data["message"],
									title:"消息提醒",
									time:1
								});
								$("#chek_all").prop("checked", false);
							}
						}
					});
					$(this).dialog('close');
				},
				"取消,#e57373": function() {
					$(this).dialog('close');
				},
			},
			contentText:"确定要复制一条新的商品信息吗？",
		});
	}
	
	function changeSort(event){
		var sort = parseInt($(event).val());
		$(event).val(sort);
		var goods_id = $(event).attr("goods_id");
		$.ajax({
			type : "post",
			url : "{:__URL('ADMIN_MAIN/goods/updateGoodsSortAjax')}",
			data : { "sort" : sort, "goods_id" : goods_id },
			success : function(data){
				if(data.code>0){
					LoadingInfo(getCurrentIndex(goods_id,'#productTbody','tr[class="tr-title"]'));
					showTip(data.message,"success");
				}else{
					showTip(data.message,"error");
				}
			}
		})
	}
	
	//更新二维码
	function batchUpdateGoodsQrcode(){
		var goods_ids= new Array();
		$("#productTbody input[type='checkbox']:checked").each(function() {
			if (!isNaN($(this).val())) {
				goods_ids.push($(this).val());
			}
		});
		if(goods_ids.length == 0){
			showMessage("error", "请至少选择一件商品");
			return false;
		}
		$.ajax({
			type : "post",
			url : "{:__URL('ADMIN_MAIN/goods/updateGoodsQrcode')}",
			data : { "goods_id" : goods_ids.toString() },
			success : function(data){
				if (data["code"] > 0) {
					LoadingInfo(getCurrentIndex(goods_ids,'#productTbody','tr[class="tr-title"]'));
					showMessage('success', '二维码更新成功');
				}else{
					showMessage('error', data['message']);
				}
			}
		})
	}

	function selectGoodsLabel(){
		$("#selectGoodsLabel").popover("show");
		$("#selectGoodsLabelId").val('');
		$("#selectGoodsLabel").val('');
	}
	function hideGroup(){
		$("#selectGoodsLabel").popover("hide");
		$("#selectGoodsLabel").val('');
	} 
	function clickGoodsLabel(event){
		var goods_label_id = $(event).val();
		var goods_label_name = $(event).next("span").text();
		var selectGoodsLabelVal = $("#selectGoodsLabel").val();
		var selectGoodsLabelId = $("#selectGoodsLabelId").val();
		if($(event).is(":checked")){
			$("#selectGoodsLabelId").val(selectGoodsLabelId+goods_label_id+',');
			$("#selectGoodsLabel").val(selectGoodsLabelVal+goods_label_name+';');
		}else{
			selectGoodsLabelVal = selectGoodsLabelVal.replace(goods_label_name+';','');
			selectGoodsLabelId = selectGoodsLabelId.replace(goods_label_id+',','');
			$("#selectGoodsLabelId").val(selectGoodsLabelId);
			$("#selectGoodsLabel").val(selectGoodsLabelVal);
		}
		
	}
	function confirm(){
		$("#selectGoodsLabel").popover("hide");
	}

	function editGoodsInfo(event){
		$(event).hide();
		$(event).next("input").show().focus();
	}
	// 点击显示更多搜索
	$(".more_search").click(function(){
		$("#more_search").slideToggle();
	})
</script>
{/block}

  