
.icon-show,
.icon-hide{float:left;background:url("../images	/mcm-icon-2014.png") no-repeat;}
.icon-show{background-position:0 -214px;width:13px;height:13px;}
.icon-hide{background-position:0 -191px;width:13px;height:13px;}
.l10{margin-left:10px;}
.t5{margin-top:5px;}