@charset "utf-8";
/* CSS Document */

.icon-dashboard,
.icon-box{background:url("../images/icon-dashboard.png") no-repeat;display:inline-block; vertical-align:middle;}
.icon-dashboard{background-position:0 0;width:32px;height:25px;}
.icon-box{background-position:-43px -8px;width:20px;height:15px;}
.bgf4{background:#f4f4f4;}

/*home dashboard*/
.HOMEDASHBOARD{}
.tiptitle{margin:0 0 30px 0;line-height:32px;font-size:18px;text-align:center;}
.tiptitle .colorred{color:#de533c;padding:0 5px;}
.tasks{overflow:hidden;text-align:center;}
.listTasks{margin:0 auto;list-style:none;overflow:hidden;display:inline-block;}
.listTasks li{float:left;width:140px;margin:0 20px 5px 0; }
.listTasks li:last-child{margin-right:0;}
.listTasks li .number{display:block;margin:0;height:60px;line-height:60px;text-align:center;font-size:25px;color:#de533c;}
.listTasks li .text{position:absolute;bottom:0;left:0;right:0;margin:0;height:30px;line-height:30px;background:#e9e9e9;color:#333;text-align:center;border-bottom-left-radius:3px;border-bottom-right-radius:3px;}
.listTasks-a{position:relative;height:90px;display:block;border:1px solid #ccc;border-radius:3px;background:#fff;
			-webkit-transition:0.5s ease;
				-moz-transition:0.5s ease;
					-o-transition:0.5s ease;
						transition:0.5s ease;
}
.listTasks-a:hover{text-decoration:none;background:#00acec;border:1px solid #00acec;}
.listTasks-a:hover .number{color:#fff;}
.listTasks-a:hover .text{background:#fff;color:#333;}
.listTasks li.wechat .listTasks-a{border:1px solid #63b455;background:#fff;}
.listTasks li.wechat .listTasks-a:hover .number{color:#de533c;}
.listTasks li.wechat .text{background:#63b455;color:#fff;}
.chartselect{overflow:hidden;}
.followcount{float:left;margin:5px 0 0 0;font-size:16px;color:#999;}
.followcount b{font-size:20px;color:#00acec;margin-left:5px;font-weight:normal;}
.dataul{float:left;list-style:none;margin:0 30px;}
.dataul.nav-tabs{border-bottom:0;}
.dataul .active a{background:none;color:#de533c;border:0;}
.dataul .active a:hover{border:0;color:#de533c;}
.dataul a{color:#666;}
.dataul a:hover{border-bottom:0;}
.dataul.nav-tabs > li > a{padding:5px 10px;}
.homechartborder{margin:2px 24px 30px 24px;padding-top:10px;background:#fff;min-width:700px;min-height:400px;border:1px solid #ccc;}
.homestl.smallTitle{padding:10px 20px;margin:0 0 12px 0; background:#f7f7f7;}

/*title*/
.bigTitle{border-bottom:1px solid #ccc;overflow:hidden;}
.bigTitle-name{float:left;}
.bigTitle-name .text{margin:0 20px 0 15px;font-size:25px;color:#333;font-weight:normal;vertical-align:middle;}
.bigTitle-search{float:right;margin:25px 0 20px 0;}
.bigTitle-search .form-search{margin:0 0 0 0;}
.bigTitle-search .form-search .btn-search{top:0;}
.smallTitle{margin:25px 30px 15px 30px;}
.smallTitle i{margin-left:12px;}
.smallTitle .text{margin:0;font-size:14px;color:#333;}
.smallTitle .pagination{margin:0 0 0 0;}
.smallTitle .pagination a{color:#666;}
.smallTitle .pagination a:hover{color:#3991db;}

/*boxinfor*/
.boxinfor{margin:0 20px;}
.boxinfor-ul{overflow:hidden;margin:0 0 10px 0;padding:0;background:#fff;border:1px solid #ccc;border-radius:3px;box-shadow:0 3px 3px #f7f7f7; list-style:none; 
			-webkit-box-sizing:border-box;
				-moz-box-sizing:border-box;
					-o-box-sizing:border-box;
						box-sizing:border-box;}
.boxinfor-ul li{float:left;width:14%;margin:0;padding:10px 0;}
.boxinfor-ul li.date{width:16%;border-left:0;text-indent:20px;font-size:20px;line-height:50px;}
.boxinfor-ul .title{margin-bottom:5px;font-size:14px;color:#999;}
.boxinfor-ul .data{font-size:20px;color:#333;}

/*chart*/
.chartborder{margin:10px 20px;min-width:700px;min-height:400px;border:1px solid #ccc;}

/*bar search*/
.bar-search{clear:both;padding:0 30px 15px 30px;border-bottom:0px solid #ccc;}
.bar-search form{margin:0;}
.salesSummary .bar-search{float:right;clear:none;padding:20px 30px 15px 30px;border-bottom:0px solid #ccc;}

/**----tlt 0508----*/
.mt25{margin-top:15px;}
.ml10{margin-left:10px;}
.mr30{margin-right:30px;}
.MAIN-home{margin:0px auto 20px auto;width:1220px;overflow:hidden;}
.list-home{float:left;margin-left:0;}
.list-home>li{float:left;margin-bottom:10px;width:1218px;border:1px solid #ccc;border-radius:3px;background:#ffffff;} 
.list-home li.half-width{width:603px;}
.list-home .half-box{padding:30px 35px;overflow:hidden;}
.list-home .shop-info{float:left;margin:0;width:100%;font-size:14px;}
.list-home .shop-info li{float:left;width:50%;color:#a1a1a1;}
.list-home .left-box{float:left;}
.list-home .left-box{width:120px;text-align:right;}
.list-home .right-box{margin-left:120px;}
.list-home .people-header{position:relative;margin-top:-8px;text-align:center;}
.list-home .people-header i.icon-people02 {width:50px;height:50px;line-height:50px;border:1px solid #e5f0f8;border-radius:50%;font-size:40px;color:#9ed2ff;text-align:center;}
.list-home .people-header img{position:absolute;top:0;left:32px;width:52px;height:52px;border:1px solid #e5f0f8;border-radius:50%;}
.list-home .peoplename{font-size:18px;color:#333;}
.list-home .edit-password{font-size:12px;color:#81b6f3;}
/*tlt 0603 begin*/
.list-home .icon-pen-blue{margin:0;width:15px;height:15px;background:url("../images/icon.png") no-repeat;display:inline-block; vertical-align:middle;background-position:-209px -30px;border:none;}
.icon-pen-blue:before { content:"";}
.list-home .icon-pen-blue.mr5{margin-right:5px;}
.list-home .icon-pen-blue.ml15{margin-left:15px;}
/*tlt 0603 end*/

.list-home .balance{color:#de533c;}
.list-home .balance span{font-size:14px;}
.list-home .btn-noshadow{border: solid 1px #ccc;text-shadow: none;background: #f7f7f7;}
.list-home .shopname{color:#333;}
.list-home .code-box{margin-bottom:5px;width:90px;height:90px;padding:1px;border:solid 1px #ccc;border-radius:3px;}

.note-gotopay-tip-p{margin:30px;font-size:14px;color:#666;}
.note-gotopay-tip-btn{text-align:center;}
.note-gotopay-tip-btn a{display:inline-block;width:100px;margin:10px;}
.note-gotopay-tip-error{display:none;}

/**----tlt 0509 homedashboard-deposit.shtml----*/
.money-summary{position:absolute;top:20px;right:20px;text-align:right;font-size:15px;line-height:30px;}
.money-summary .last-money-summary{font-size:25px;}
.bk-border{border:solid 1px #ccc;border-radius:3px;background:#fff;}
.bk-border .search-bar{margin: 10px 0;padding:20px 10px;}
.bk-border .search-bar form{margin-bottom:0;}
.pay-money{color:#066601;}