@charset "utf-8";

@import url("http://css.bmc.v5portal.com//mcm/content/css/base.css");
@import url("http://css.bmc.v5portal.com//mcm/content/css/common.css");
@import url("http://css.bmc.v5portal.com//mcm/content/css/system.css");
@import url("http://css.bmc.v5portal.com//mcm/content/css/module.css");
