@charset "utf-8";
/* CSS Document */
/*=====RIGHT=====*/
/*title*/
.mod-title{clear:both;font-weight:500;line-height:28px;overflow:hidden;}
.mod-title .con h1{float:left;}
.mod-title .style0h1{margin:15px 0 20px 0;overflow:hidden;}
.mod-title .style0h1 .a-btn{margin:0 20px 0 0;padding:0 30px;border:1px solid #f4f4f4;}
.mod-title .style0h1 h1{float:left;font-size:18px;font-weight:bold;height:22px;line-height:22px;}
.mod-title .style0h1-02{padding:10px 0 10px 0;overflow:hidden;border-bottom:1px solid #e8e8e8;}
.mod-title .style0h1-02 .a-btn{margin:0 10px 0 0;padding:0;background:none;border:0;height:41px;line-height:41px;}
.mod-title .style0h1-02 h1{float:left;height:41px;line-height:41px;font-size:18px;font-weight:bold;}
.mod-title .style02{margin:10px 0;overflow:hidden;}
.mod-title .style02 h1{font-size:18px;margin-bottom:4px;}
.mod-title .style02 h2{font-size:16px;}
.mod-title .style02 span{font-size:12px;margin:4px 0 0 5px;}
.mod-title .style03 h2{margin:0 0 5px 0;line-height:14px;font-size:14px;color:#333;font-weight:bold;}
/*tab*/
.mod-tab{}
.mod-tab .con ul li{float:left;}
.mod-tab .style0big ul{position:relative;width:100%;height:42px;margin:0;padding:0;white-space:nowrap;border-left:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;}
.mod-tab .style0big li{position:relative;float:left;line-height:40px;line-height:40px;width:25%;min-width:40px;max-width:150px;background:#f5f5f5;border-right:1px solid #d7d7d7;border-top:1px solid #d7d7d7;padding:1px 0 0 0;cursor:pointer;font-size:14px;color:#333333;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}
.mod-tab .style0big li:hover{border-top:2px solid #000;height:42px;line-height:40px;padding:0;}
.mod-tab .style0big li a{display:block;padding:0 10px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#4a4b4a;font-weight:bold; text-decoration: none;}
.mod-tab .style0big li a i{margin:10px 10px 0 0;}
.mod-tab .style0big .current a{display:block;background:#fff;height:40px;line-height:40px;}
.mod-tab .style0big .current,
.mod-tab .style0big .current:hover{top:0;bottom:-1px;height:43px;background:#fff;color:#4a4b4a;border-top:2px solid #de533c;padding:0;font-weight:bold;}
.mod-tab .style0mid ul{position:relative;width:100%;height:37px;margin:0;padding:0;white-space:nowrap;border-left:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;}
.mod-tab .style0mid li{position:relative;float:left;line-height:35px;background:#f5f5f5;border-right:1px solid #d7d7d7;border-top:1px solid #d7d7d7;padding:1px 0 0 0;cursor:pointer;font-size:12px;color:#333333;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}
.mod-tab .style0mid li:hover{border-top:2px solid #000;height:37px;line-height:35px;padding:0;}
.mod-tab .style0mid li a{display:block;padding:0 5px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#4a4b4a;}
.mod-tab .style0mid li a i{margin:10px 10px 0 0;}
.mod-tab .style0mid .current a{display:block;background:#fff;height:35px;line-height:35px;}
.mod-tab .style0mid .current,
.mod-tab .style0mid .current:hover{top:0;bottom:-1px;height:38px;background:#fff;color:#4a4b4a;border-top:2px solid #de533c;padding:0;font-weight:bold;}
/*form*/
.mod-form{clear:both;}
.mod-form .style0page .title-h2{padding:0 0 20px 0;border-bottom:1px solid #e8e8e8;overflow:hidden;}
.mod-form .style0page .title-h2 .text{line-height:16px;font-size:16px;color:#000;font-weight:600;}
.mod-form .style0page .list-ul{overflow:hidden;}
.mod-form .style0page .list-li{clear:both;margin:20px 0 0 0;overflow:hidden;}
.mod-form .style0page .list-li .float-l{min-height:1px;}
.mod-form .style0page .list-li .star,
.mod-form .style0page .list-li label,
.mod-form .style0page .list-li .prompt{height:30px;line-height:30px;}
.mod-form .style0page .list-li .star{float:left;width:15px;color:red;}
.mod-form .style0page .list-li label{color:#333;font-size:14px;}
.mod-form .style0page .list-li .unit{color:#666;}
.mod-form .style0page .list-li .prompt{margin:0 0 0 5px;color:red;}
.mod-form .style0updown .list-ul{overflow:hidden;}
.mod-form .style0updown .list-li{clear:both;margin:0 0 10px 0;overflow:hidden;}
.mod-form .style0updown .div-area{padding:0 0 0 0;overflow:hidden;}
.mod-form .style0updown .div-area .star{float:left;width:15px;height:25px;line-height:25px;color:red;}
.mod-form .style0updown .div-area .col-label{height:25px;line-height:25px;color:#333;font-size:14px;font-weight:600;}
.mod-form .style0updown .div-area .col-annotation{float:right;color:#999;height:25px;line-height:25px;}
.mod-form .style0updown .div-area .prompt{color:red;}
.mod-form .style0alert .title-h2{padding:0 0 20px 0;border-bottom:1px solid #e8e8e8;overflow:hidden;}
.mod-form .style0alert .title-h2 .text{line-height:16px;font-size:14px;color:#000;}
.mod-form .style0alert .list-ul{overflow:hidden;}
.mod-form .style0alert .list-li{clear:both;margin:0 0 10px 0;overflow:hidden;}
.mod-form .style0alert .list-li .float-l{min-height:1px;}
.mod-form .style0alert .list-li .star,
.mod-form .style0alert .list-li label,
.mod-form .style0alert .list-li .prompt{height:30px;line-height:30px;}
.mod-form .style0alert .list-li .star{float:left;width:15px;color:red;}
.mod-form .style0alert .list-li label{color:#333;font-size:14px;}
.mod-form .style0alert .list-li .unit{color:#666;}
.mod-form .style0alert .list-li .prompt{margin:0 0 0 5px;color:red;}
/*operate*/
.mod-operate{}
.mod-operate .con .ul-list{float:left;}
.mod-operate .con .ul-list li{float:left;position:relative;}
.mod-operate .style0list .ul-list li{margin:0 10px 0 0;}
.mod-operate .style0list .ul-list li .a-btn{display:block;line-height:28px;padding:0px 12px;vertical-align:middle;background:#f4f4f4;border:1px solid #d2d2d2;border-radius:2px;color:#555;}
.mod-operate .style0list .ul-list li .a-btn:hover{background:white;}
.mod-operate .style0editdel .edit,
.mod-operate .style0editdel .del,
.mod-operate .style0editdel .view,
.mod-operate .style0editdel .close,
.mod-operate .style0editdel .open,
.mod-operate .style0editdel .up,
.mod-operate .style0editdel .down{float:left;margin:0 8px 0 0;color:#3980f4;}
.mod-operate .style0editdel .edit:hover,
.mod-operate .style0editdel .del:hover,
.mod-operate .style0editdel .view:hover,
.mod-operate .style0editdel .close:hover,
.mod-operate .style0editdel .open:hover,
.mod-operate .style0editdel .up:hover,
.mod-operate .style0editdel .down:hover{color:#de533c;}
/*search*/
.mod-search{}
.mod-search .con{}
.mod-search .style0list{position:absolute;top:5px;right:15px;margin:12px 0 15px 0;}
.mod-search .style0list ul{overflow:hidden;}
.mod-search .style0list li{float:left;}
.mod-search .style0list .search-input{height:35px;line-height:35px;width:300px;-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;border-radius:2px;-webkit-box-shadow:1px 1px 2px rgba(0,0,0,.3);-moz-box-shadow:1px 1px 2px rgba(0,0,0,.3);-o-box-shadow:1px 1px 2px rgba(0,0,0,.3);box-shadow:1px 1px 2px rgba(0,0,0,.3);}
.mod-search .style0list .search-input-order{height:35px;line-height:35px;width:260px;-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;border-radius:2px;-webkit-box-shadow:1px 1px 2px rgba(0,0,0,.3);-moz-box-shadow:1px 1px 2px rgba(0,0,0,.3);-o-box-shadow:1px 1px 2px rgba(0,0,0,.3);box-shadow:1px 1px 2px rgba(0,0,0,.3);}
.mod-search .style0list .search-btn{position:absolute;right:0;background:url("../images/mcm-icon-2014.png") no-repeat -230px -390px;color:#fff;height:27px;width:30px;line-height:27px;display:inline-block;vertical-align:middle;top:5px;}
.mod-search .style0list-order{position:absolute;top:0;right:0;margin:12px 0 0 0;}
.mod-search .style0list-order ul{overflow:hidden;}
.mod-search .style0list-order li{float:left;}
.mod-search .style0list-order .search-input{height:35px;line-height:35px;width:260px;-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;border-radius:2px;-webkit-box-shadow:1px 1px 2px rgba(0,0,0,.3);-moz-box-shadow:1px 1px 2px rgba(0,0,0,.3);-o-box-shadow:1px 1px 2px rgba(0,0,0,.3);box-shadow:1px 1px 2px rgba(0,0,0,.3);}
.mod-search .style0list-order .search-btn{position:absolute;right:0;background:url("../images/mcm-icon-2014.png") no-repeat -230px -390px;color:#fff;height:27px;width:30px;line-height:27px;display:inline-block;vertical-align:middle;top:5px;}
/*table-head*/
.mod-table-head{width:100%;}
.mod-table-head .style0list{width:100%;border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;}
.mod-table-head .style0list table{table-layout:fixed;width:100%;}
.mod-table-head .style0list tr{color:#333;height:35px;}
.mod-table-head .style0list th{text-align:left;font-weight:bold;font-size:14px;}
.mod-table-head .style0list th label{float:left;}
.mod-table-head .style0list-bg{background:#e2e2e2;border:1px solid #d2d2d2;-webkit-box-sizing:border-box;-moz-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}
.mod-table-head .style0list-bg table{table-layout:fixed;width:100%;}
.mod-table-head .style0list-bg tr{color:#333;height:30px;}
.mod-table-head .style0list-bg th{text-align:left;padding-left:10px;font-size:14px;}
.mod-table-head .style0list-bg th label{float:left;}
/*table-main*/
.tr-select{background:#fffca8;}
.mod-table-main{}
/*del
.mod-table-main .style01{position:relative;margin-top:0;}
.mod-table-main .style01 table{table-layout:fixed;width:100%;}
.mod-table-main .style01 .cell{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.mod-table-main .style01 .a-img{float:left;overflow:hidden;line-height:1px;padding:1px;background:#fff;border:1px solid #e8e8e8;}
.mod-table-main .style01 tr:hover{background:#fffdbb;}
.mod-table-main .style01 td label,
.mod-table-main .style01 td label{float:left;}
.mod-table-main .style01 tr{border-bottom:1px #dddddd dotted;}
.mod-table-main .style01 td{height:35px;line-height:35px;padding:5px 0 5px 5px;color:#333;}
.mod-table-main .style01 td input{margin:5px 0 5px 5px;}
.mod-table-main .style01 .show{padding:0;}*/
.mod-table-main .style0line{position:relative;margin-top:0;}
.mod-table-main .style0line table{table-layout:fixed;width:100%;}
.mod-table-main .style0line .cell{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.mod-table-main .style0line .a-img{float:left;overflow:hidden;line-height:1px;padding:1px;background:#fff;border:1px solid #e8e8e8;}
.mod-table-main .style0line tr:hover{background:#fffdbb;}
.mod-table-main .style0line td label,
.mod-table-main .style0line td label{float:left;}
.mod-table-main .style0line tr{border-bottom:1px #dddddd dotted;}
.mod-table-main .style0line td{height:30px;padding:5px 0;color:#333;}
.mod-table-main .style0line td input{margin:5px 0 5px 5px;}
.mod-table-main .style0line .show{padding:0;}
.mod-table-main .style0sub{position:relative;margin-top:0;}
.mod-table-main .style0sub table{table-layout:fixed;width:100%;background:#ededed;}
.mod-table-main .style0sub .cell{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.mod-table-main .style0sub .a-img{float:left;overflow:hidden;line-height:1px;padding:1px;background:#fff;border:1px solid #e8e8e8;}
.mod-table-main .style0sub tr:hover{background:#ededed;}
.mod-table-main .style0sub td label,
.mod-table-main .style0sub td label{float:left;}
.mod-table-main .style0sub tr{border-bottom:1px #dddddd dotted;}
.mod-table-main .style0sub td{height:30px;padding:5px 0 5px 5px;color:#333;}
.mod-table-main .style0sub td input{margin:5px 0 5px 5px;}
.mod-table-main .style0dotted{position:relative;margin-top:0;}
.mod-table-main .style0dotted table{table-layout:fixed;width:100%;border-left:1px solid #d2d2d2;border-right:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;}
.mod-table-main .style0dotted .cell{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.mod-table-main .style0dotted tr:hover{background:#fffdbb;}
.mod-table-main .style0dotted td label,
.mod-table-main .style0dotted td label{float:left;}
.mod-table-main .style0dotted td{height:30px;padding:0 0 0 10px;border-bottom:1px #dddddd dashed;color:#333;}
.mod-table-main .style0dotted td input{margin:5px 0 5px 5px;}
.mod-table-main .style0dotted td img{vertical-align:middle;}
.mod-table-main .style0dotted td.show{padding:0 0 0 0;}
.mod-table-main .style0dotted td.show table{border:0;}
.mod-table-main .style0label th,
.mod-table-main .style0label td{background:#fff;height:20px;line-height:20px;border:1px #ddd solid;padding:6px;color:#555;}/*original style03*/
.mod-table-main .style0label th{font-weight:bold;}
.mod-table-main .style0label td input,
.mod-table-main .style0label td label{vertical-align:middle;}
.mod-table-main .style0label td.td_bg{background:#f5f5f5;text-align:center;}
.mod-table-main .style0label td .style02 td{border:0px;}
/*del*/
.mod-table-main .style03 th,
.mod-table-main .style03 td{background:#fff;height:20px;line-height:20px;border:1px #ddd solid;padding:6px;color:#555;}
.mod-table-main .style03 th{font-weight:bold;}
.mod-table-main .style03 td input,
.mod-table-main .style03 td label{vertical-align:middle;}
.mod-table-main .style03 td.td_bg{background:#f5f5f5;text-align:center;}
.mod-table-main .style03 td .style02 td{border:0px;}
/*page*/
.mod-page{float:right;}
.mod-page .con{}
.mod-page .style0list{color:#666;height:28px;line-height:28px;}
.mod-page .style0list .number,
.mod-page .style0list .turn,
.mod-page .style0list .turn-ul{float:right;}
.mod-page .style0list .number{margin-right:5px;}
.mod-page .style0list .turn{width:66px;}
.mod-page .style0list .turn-ul .prev,
.mod-page .style0list .turn-ul .next,
.mod-page .style0list .turn-ul .first,
.mod-page .style0list .turn-ul .last{float:right;width:33px;height:28px;display:block;cursor:pointer;background:url(../images/mcm-icon-2014.png) no-repeat;}
.mod-page .style0list .turn-ul .prev{background-position:0 -428px;border-top-left-radius:2px;border-bottom-left-radius:2px;}
.mod-page .style0list .turn-ul .prev:hover{background-position:-1px -456px;}
.mod-page .style0list .turn-ul .next{background-position:-33px -428px;border-top-right-radius:2px;border-bottom-right-radius:2px;}
.mod-page .style0list .turn-ul .next:hover{background-position:-32px -456px;}
.mod-page .style0list .turn-ul .first{background-position:0 -484px;border-top-left-radius:2px;border-bottom-left-radius:2px;cursor:default;}
.mod-page .style0list .turn-ul .last{background-position:-32px -484px;border-top-right-radius:2px;border-bottom-right-radius:2px;cursor:default;}
/*=====box=====*/
.mod-box{}
.mod-box .style0bg{padding:5px 0 8px 8px;line-height:30px;background:#f7f7f7;border:1px solid #eee;color:#666;border-radius:2px;}
.mod-box .style0border{border:1px solid #ddd;padding:10px;border-radius:5px;}
/*=====condition=====*/
.mod-condition{clear:both;overflow:hidden;}
.mod-condition .con{}
.mod-condition .style0list{overflow:hidden;}
.mod-condition .style0list li{float:left;position:relative;height:28px;line-height:28px;margin-right:5px;border-radius:2px}
.mod-condition .style0list li:hover{background:#f1f1f1;}
.mod-condition .style0list li a{float:left;padding:0 12px;height:28px;line-height:28px;vertical-align:middle;color:#333;}
.mod-condition .style0list li.current{background:#de533c;font-weight:bold;}
.mod-condition .style0list li.current a{color:#fff;font-size:12px;line-height:28px;vertical-align:middle;display:block;}
.mod-condition .style0list li.current:hover{background:#de533c;color:#fff;font-weight:bold;}
/*input type file*/
.file01{position:relative;}
.file01 .pic-place{display:block;border:1px solid #f7f7f7;background:#fafafa;border:1px solid #e7e7e7;overflow:hidden;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}
.file01 .pic-place img{}
.file01 .nopic{float:left;height:100%;width:100%;vertical-align:middle;font-size:40px;color:#eee;letter-spacing:5px;font-family:΢���ź�;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}
.file01 .btn{position:relative;height:30px;}
.file01 .btn .inputfile{position:absolute;z-index:2;height:35px;filter:alpha(opacity=0);opacity:0;width:100%;overflow:hidden;font-size:300;right:0;top:0;cursor:pointer;}
.file01 .btn .btn-pic{position:absolute;width:100%;height:30px;background:#f4f4f4;border:1px solid #d2d2d2;z-index:1;}
/*.file01 .btn .inputfile{position:absolute;z-index:2;height:35px;filter:alpha(opacity=0);opacity:0;-moz-opacity:0;-webkit-opacity:0;-o-opacity:0;left:0;cursor:pointer;}*/
/*.file01 .btn .btn-pic{position:absolute;width:100%;height:30px;background:#f4f4f4;border:1px solid #d2d2d2;z-index:1;}
.file01 .btn .btn-pic{height:35px;width:100%;z-index:2;overflow:hidden;font-size:300;position:absolute;right:0;top:0;opacity:0;filter:alpha(opacity=0);cursor:pointer;}*/
/*.file01 .btn .btn-pic{height:35px;width:100%;z-index:2;overflow:hidden;font-size:300;position:absolute;right:0;top:0;opacity:0;filter:alpha(opacity=0);cursor:pointer;}*/
/*---tip---*/
.mod-tip{position:absolute;top:41px;left:50%;margin-left:-175px;z-index:9999;}
.mod-tip .con{width:350px;height:35px;line-height:35px;border-width:1px;border-style:solid;box-shadow:2px 2px 2px rgba(0,0,0,.2);-webkit-box-shadow:2px 2px 2px rgba(0,0,0,.2);-moz-box-shadow:2px 2px 2px rgba(0,0,0,.2);-o-box-shadow:2px 2px 2px rgba(0,0,0,.2);}
.mod-tip .con .txt{float:left;margin:0 15px;font-size:14px;color:#333;}
.mod-tip .con .close{position:absolute;width:9px;height:9px;background:url("../images/mcm-icon-2014.png") no-repeat -171px 0;top:14px;right:10px;cursor:pointer;}
.mod-tip .style0green{position:fixed;top:41px;width:auto;min-width:350px;height:37px;line-height:37px;z-index:99999;background:#b2e7a7;border-color:#a4db98;}
.mod-tip .style0yellow{position:fixed;top:41px;width:auto;min-width:350px;height:37px;line-height:37px;z-index:99999;background:#ffedab;border-color:#f2de94;}
.mod-tip .style0red{position:fixed;top:41px;width:auto;min-width:350px;height:37px;line-height:37px;z-index:99999;background:#ff9c9c;border-color:#f48b8b;}
/*del*/
.mod-tip .style01{position:fixed;top:41px;width:auto;min-width:350px;height:37px;line-height:37px;z-index:99999;background:#b2e7a7;border-color:#a4db98;}
.mod-tip .style02{position:fixed;top:41px;width:auto;min-width:350px;height:37px;line-height:37px;z-index:99999;background:#ffedab;border-color:#f2de94;}
.mod-tip .style03{position:fixed;top:41px;width:auto;min-width:350px;height:37px;line-height:37px;z-index:99999;background:#ff9c9c;border-color:#f48b8b;}
/*shop name link pops*/
.mod-pops{*position:relative;}
.mod-pops .con{}
.mod-pops .style0icon{float:left;width:21px;height:21px;margin-right:5px;}
.mod-pops .style0icon .pop-surround{position:absolute;}
.mod-pops .style0icon .pop-a-content{display:none;position:absolute;top:-10px;left:21px;height:38px;z-index:2;}
.mod-pops .style0icon .pop-a-content .arrow{position:absolute;top:15px;height:17px;width:7px;background:url("../images/leftIndex-icon2.png") no-repeat;z-index:3;}
.mod-pops .style0icon .pop-a-content .text{position:absolute;left:6px;display:block;height:auto;padding:6px 10px;background:#ffedab;border:1px solid #f1dc8c;border-radius:2px;z-index:2;-webkit-box-shadow:2px 2px 2px rgba(0,0,0,.3);-moz-box-shadow:2px 2px 2px rgba(0,0,0,.3);-o-box-shadow:2px 2px 2px rgba(0,0,0,.3);box-shadow:2px 2px 2px rgba(0,0,0,.3);}
.mod-pops .style0icon .pop-a-content .text a{display:block;line-height:25px;color:#222;font-size:14px;}
.mod-pops .style0icon .pop-surround:hover .pop-a-content{display:block;}
/*alert*/
.mask{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;z-index:10;filter:alpha(opacity=40);-webkit-opacity:.4;-moz-opacity:.4;-o-opacity:.4;opacity:.4;}
.gray-bg{position:absolute;top:50%;left:50%;margin:-254px 0 0 -360px;background:#848484;border:1px solid #666;padding:10px;z-index:11;border-radius:2px;}
.gray-bg .title{height:38px;line-height:38px;background:#000;padding:0 10px;border-top-left-radius:2px;border-top-right-radius:2px;}
.gray-bg .title h2{float:left;color:#fff;font-weight:bold;font-size:15px;}
.gray-bg .title .icon-close{float:right;width:26px;height:26px;margin:6px 0 0 0;vertical-align:middle;background:url("../images/mcm-icon-2014.png") no-repeat -109px -390px;cursor:pointer;}
.gray-bg .title .icon-close:hover{background-color:#262626;}
.gray-bg .content{padding:20px;background:#fff;}
.gray-bg .btn{border-top:1px solid #dddddd;}
.gray-bg .indiv{border-top:1px solid #fff;background:#f5f5f5;text-align:center;padding:5px 0;}
.aui_content .content{padding:20px;}
.aui_content .btn{border-top:1px solid #dddddd;}
.aui_content .indiv{border-top:1px solid #fff;background:#f5f5f5;text-align:center;padding:5px 0;}
.alertpage-content{background:#fff;padding:20px;}
.alertpage-btn{border-top:1px solid #dddddd;}
.alertpage-btn .indiv{border-top:1px solid #fff;background:#f5f5f5;text-align:center;padding:5px 0;}
/*templet*/
.mod-templet{clear:both;}
.mod-templet .con{}
.mod-templet .con li{float:left;}
.mod-templet .style0img{}
.mod-templet .style0img .list-ul{}
.mod-templet .style0img .list-li{margin:30px 30px 0 0;width:170px;}
.mod-templet .style0img .list-li .img{width:170px;height:353px;background:url("../images/radio_iphone0.png") no-repeat;margin:0 0 10px 0;}
.mod-templet .style0img .list-li .name{width:145px;height:30px;line-height:30px;margin:0 auto;background:#666;border-radius:2px;color:#fff;text-align:center;}
.mod-templet .style0img .list-li input,
.mod-templet .style0img .list-li label{vertical-align:middle;margin:0 5px 0 0;}
.mod-templet .style0img .list-li:hover .img,
.mod-templet .style0img .current .img{background:url("../images/radio_iphone.png") no-repeat;}
.mod-templet .style0img .list-li:hover .name,
.mod-templet .style0img .current .name{background:#de533c;}
/*del*/
.mod-list{clear:both;}
.mod-list .con{}
.mod-list .con li{float:left;}
.mod-list .style0img{}
.mod-list .style0img .list-ul{}
.mod-list .style0img .list-li{margin:30px 30px 0 0;width:170px;}
.mod-list .style0img .list-li .img{width:170px;height:353px;background:url("../images/radio_iphone0.png") no-repeat;margin:0 0 10px 0;}
.mod-list .style0img .list-li .name{width:145px;height:30px;line-height:30px;margin:0 auto;background:#666;border-radius:2px;color:#fff;text-align:center;}
.mod-list .style0img .list-li input,
.mod-list .style0img .list-li label{vertical-align:middle;margin:0 5px 0 0;}
.mod-list .style0img .list-li:hover .img,
.mod-list .style0img .current .img{background:url("../images/radio_iphone.png") no-repeat;}
.mod-list .style0img .list-li:hover .name,
.mod-list .style0img .current .name{background:#de533c;}
/*tipsnumber*/
.tipsnumber{position:relative;}
.tipsnumber .number{position:absolute;top:-10px;right:-10px;width:18px;height:18px;line-height:18px;background:#de533c;border:1px solid #c63118;text-align:center;color:#fff;font-weight:bold;-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;border-radius:2px;}
/*stripe*/
.mod-stripe{overflow:hidden;margin-left:auto;margin-right:auto;}
.mod-stripe .con .status{width:530px;margin:5px 0 0 0;color:#666;text-align:center;}
.mod-stripe .con .outdiv{width:530px;height:20px;background:#f5f5f5;-webkit-box-shadow:inset -1px 1px 1px rgba(0,0,0,.1);-moz-box-shadow:inset -1px 1px 1px rgba(0,0,0,.1);-o-box-shadow:inset -1px 1px 1px rgba(0,0,0,.1);box-shadow:inset -1px 1px 1px rgba(0,0,0,.1);-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
.mod-stripe .style0green .indiv{height:20px;background:#5cb85c;-webkit-box-shadow: 0 1px 0 rgb(77,155,77);-moz-box-shadow: 0 1px 0 rgb(77,155,77);-o-box-shadow: 0 1px 0 rgb(77,155,77);box-shadow: 0 1px 0 rgb(77,155,77);-webkit-border-top-left-radius:5px;-moz-border-top-left-radius:5px;-o-border-top-left-radius:5px;border-top-left-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-bottom-left-radius:5px;-o-border-bottom-left-radius:5px;border-bottom-left-radius:5px;}
.mod-stripe .style0green .number{width:530px;text-align:center;margin:5px 0 0 10px;}
.mod-stripe .style0red .outdiv{float:left;}
.mod-stripe .style0red .indiv{height:20px;background:red;-webkit-box-shadow: 0 1px 0 rgb(232,0,0);-moz-box-shadow: 0 1px 0 rgb(232,0,0);-o-box-shadow: 0 1px 0 rgb(232,0,0);box-shadow: 0 1px 0 rgb(232,0,0);-webkit-border-top-left-radius:5px;-moz-border-top-left-radius:5px;-o-border-top-left-radius:5px;border-top-left-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-bottom-left-radius:5px;-o-border-bottom-left-radius:5px;border-bottom-left-radius:5px;}
.mod-stripe .style0red .number{float:left;margin:0 0 0 10px;}
/*------guestreply------*/
.mod-guestreply{}
.mod-guestreply .con{}
.mod-guestreply .style0wechat{}
.mod-guestreply .style0wechat .historydata{text-align:center;margin:0 0 10px 0;}
.mod-guestreply .style0wechat .datatime{display:inline-block;height:25px;line-height:25px;padding:0 10px;background:#d4d4d4;text-align:center;color:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
.mod-guestreply .style0wechat .headsculpture img{-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
.mod-guestreply .style0wechat .ask{float:left;margin:0 0 10px 0;overflow:hidden;}
.mod-guestreply .style0wechat .ask .headsculpture{float:left;width:28px;}
.mod-guestreply .style0wechat .ask .name{display:block;word-break:break-all;}
.mod-guestreply .style0wechat .ask .ask-content{padding:8px;margin:0 5px 5px 45px;background:#fff;border:1px solid #aaaaaa;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;-webkit-box-shadow:2px 2px 2px rgba(0,0,0,.2);-moz-box-shadow:2px 2px 2px rgba(0,0,0,.2);-o-box-shadow:2px 2px 2px rgba(0,0,0,.2);box-shadow:2px 2px 2px rgba(0,0,0,.2);}
.mod-guestreply .style0wechat .talk{position:relative;word-break:break-all;}
.mod-guestreply .style0wechat .ask .arrow{position:absolute;top:0;left:-18px;background:url("../images/mcm-icon-2014.png") no-repeat -47px 0;width:10px;height:16px;z-index:9;}
.mod-guestreply .style0wechat .answer{float:right;margin:0 0 10px 0;overflow:hidden;}
.mod-guestreply .style0wechat .answer .headsculpture{float:right;width:28px;}
.mod-guestreply .style0wechat .answer .name{display:block;word-break:break-all;}
.mod-guestreply .style0wechat .answer .answer-content{padding:8px;margin:0 45px 5px 5px;background:#94db55;border:1px solid #59a119;color:#000;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;-webkit-box-shadow:2px 2px 2px rgba(0,0,0,.2);-moz-box-shadow:2px 2px 2px rgba(0,0,0,.2);-o-box-shadow:2px 2px 2px rgba(0,0,0,.2);box-shadow:2px 2px 2px rgba(0,0,0,.2);}
.mod-guestreply .style0wechat .answer .arrow{position:absolute;top:0;right:-18px;background:url("../images/mcm-icon-2014.png") no-repeat -63px 0;width:10px;height:16px;z-index:9;}
