<!-- 编辑商品，公共CSS、JS文件引用 -->
<link rel="stylesheet" type="text/css" href="ADMIN_CSS/product.css">
<!-- 选择商品图，弹出框的样式 -->
<link rel="stylesheet" type="text/css" href="ADMIN_CSS/defau.css">
<link href="__STATIC__/sku/jquery.ui.css" type="text/css" rel="stylesheet">
<link href="__STATIC__/sku/goods_create.css" type="text/css" rel="stylesheet">
<link href="__STATIC__/sku/base.css" type="text/css" rel="stylesheet">
<link href='ADMIN_CSS/select_category_next.css' rel='stylesheet' type='text/css'>
<link href="ADMIN_CSS/goods/editgoods.css" rel="stylesheet" type="text/css">
<!-- 简约版 -->
<link href="__STATIC__/blue/css/goods/add_goods.css" rel="stylesheet" type="text/css">
<script type="text/javascript" charset="utf-8" src="ADMIN_JS/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="ADMIN_JS/ueditor/ueditor.all.js"></script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="ADMIN_JS/ueditor/zh-cn.js"></script>
<script src="__STATIC__/js/ajax_file_upload.js" type="text/javascript"></script>
<script src="ADMIN_JS/image_common.js" type="text/javascript"></script>
<script src="ADMIN_JS/kindeditor-min.js" type="text/javascript"></script>
<!--  用  验证商品输入信息-->
<script src="ADMIN_JS/jscommon.js" type="text/javascript"></script>
<!-- 用 ，加载数据-->
<script src="ADMIN_JS/art_dialog.source.js"></script>
<script src="ADMIN_JS/iframe_tools.source.js"></script>
<!-- 我的图片 -->
<script src="ADMIN_JS/material_managedialog.js"></script>
<script src="__STATIC__/js/ajax_file_upload.js" type="text/javascript"></script>
<script src="__STATIC__/js/file_upload.js" type="text/javascript"></script>
<script src='ADMIN_JS/goods/init_address.js'></script>
<script type="text/javascript" src="ADMIN_JS/goods/goods_sku_create.js"></script>
<script src="ADMIN_JS/goods/release_good_second.js"></script>
<script type="text/javascript" src="ADMIN_JS/plugin/jquery.toTop.min.js"></script>
<script src="__STATIC__/js/BootstrapMenu.min.js"></script>
<!-- 可搜索的下拉选项框 -->
<link rel="stylesheet" type="text/css" href="ADMIN_CSS/plugin/jquery.searchableSelect.css"/>
<script src="ADMIN_JS/plugin/jquery.searchableSelect.js"></script>
<script type="text/javascript" src="__STATIC__/My97DatePicker/WdatePicker.js"></script>

<style>
.category-text {display: inline-block;background-color: #FFF;min-width: 150px;height: 30px;line-height: 30px;border: 1px solid #dcdcdc;float: left;}
.category-button {display: inline-block;background-color: #FFF;height: 32px;line-height: 32px;float: left;border: 1px solid #dcdcdc;border-left: none;padding: 0 10px;background-color: #eee;font-size: 13px;}
.select-button {padding:2px 9px;font-size: 12px;border: 1px solid #dcdcdc;background-color: #eeeeee;}
.extend-name-category {margin-bottom: 10px;}
.extend-name-category .do-style {display: inline-block;color: #27a9e3;cursor: pointer;}
.productcategory-selected .label {border-radius: 5px;font-weight: 100;padding:0 10px;}
a {color: #0072D2;text-decoration: none;cursor: pointer;}

/* 规格图片样式*/
.sku-picture-div {overflow: hidden;}
.sku-picture-span {display: inline-block;padding: 0px 11px;border: 1px solid #ccc;cursor: pointer;margin: 0 20px 0 0;}
.sku-picture-box{margin-top:10px;}
.sku-picture-active {border: 1px solid #004a73;background: url(ADMIN_IMG/goods/icon_choose.gif) no-repeat right bottom;background-color: #eff7fe;}
.sku-picture-h3 {font-size: 14px;font-weight: 600;line-height: 22px;color: #000;clear: both;background-color: #F5F5F5;padding: 5px 0 5px 12px;border: solid 1px #E7E7E7;border-bottom: none;}

/* 商品标签 */
.gruop-button {padding:2px 9px;font-size: 12px;border: 1px solid #dcdcdc;background-color: #eeeeee;float: left;}
.add-on {margin: 0;vertical-align: middle;}
.goods-gruop-div {display: none;float: left;margin-left: 10px;}
.check-button {height: 30px;padding:2px 9px;background-color: #eeeeee;border: 1px solid #cccccc;}
.goods-gruop-select {width: 130px;}
.span-error {height: 30px;line-height: 30px;color: red;display: none;}

/*商品分组  */
.goods-group-line {float: left;margin-right: 15px;}
.goods-group-line select {min-width: 110px;width: 110px;}
.btn-submit {width: 350px;margin: 20px auto 30px;}

/*商品品牌*/
.select2-container--default .select2-selection--single{border-radius: 0;}
.select2-container .select2-selection--single{-webkit-user-select:inherit;}
.upload-thumb.draggable-element{height: 147px !important;line-height:147px !important;text-align:center;}
.upload-thumb.draggable-element img{display: inline-block !important;vertical-align: middle !important;max-width: 100% !important;max-height: 100% !important;height: auto !important;width:auto !important;}
.upload-thumb.sku-draggable-element{height: 147px !important;line-height:147px !important;text-align:center;}
.upload-thumb.sku-draggable-element img{display: inline-block;vertical-align: middle;max-width: 100%;max-height: 100%;height: auto;width:auto;}
.js-goods-spec-value-img.sku-img-check{height: 25px;width: 25px;line-height: 23px;text-align:center;}
.js-goods-spec-value-img.sku-img-check img{display: inline-block;vertical-align: middle;max-width: 100%;max-height: 100%;height: auto;width: auto;}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {background-color: #fff;cursor: pointer;}
.searchable-select-holder{width: 220px;border-radius: 0;}

.js-virtual-goods-type-block{display: none;}
</style>
<script>
var timeoutID = null;//延迟双击编辑规格值
var img_id_arr = "";//图片标识ID
var speciFicationsFlag = 0;// 0：商品图的选择，1:商品详情的图片
var shopImageFlag = -1;//所点击的商品图片标识
// 实例化编辑器，建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
var ue = ue = UE.getEditor('editor');
var group_str = '{$group_str}';//标签列表
$(function() {
	var width = $(".ncsc-form-goods").width();
	//浏览器窗口监听事件
	$(window).scroll(function() {
		var left = $(".ncsc-form-goods").offset().left;
		if ($(window).height() + $(window).scrollTop() < $(".ncsc-form-goods dl:last").offset().top) {
			$(".btn-submit").css({
				'position' : 'fixed',
				'bottom' : 0,
				'left' : left,
				'z-index' : 10000,
				'width' : width - 30,
				"background-color" : "rgba(204,204,204,0.7)",
				"margin" : 0,
				"padding" : "15"
			});
		} else {
			$(".btn-submit").removeAttr("style");
		}
	});
})
</script>