@CHARSET "UTF-8";
*, a {
    font-family: Helvetica, "STHeiti STXihei", "Microsoft YaHei", Tohoma,Arial;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;
}
  #search_goods{
	  position: fixed;
	  z-index: 5;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;
	  background: #f7f7f7;
   }
.head_search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 44px;
    z-index: 1000;
    border-bottom: solid 1px #e2e2e2;
    background: #f7f7f7;
}
.head_search .head_search_back {
    left: 0px;
    font-size: 28px;
    position: absolute;
    top: 0;
    width: 32px;
    height: 44px;
    line-height: 44px;
    color: #333;
    text-align: center;
}
.custom-search-button {
    top: 6px;
}
.head-title {
    margin: 0 80px;
    height: 44px;
    line-height: 44px;
    color: #333;
    font-size: 16px;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-left: 15%;
}
.custom-search {
    padding: 0px;
	background: #f7f7f7;
}
.custom-search form{
	background: #f7f7f7;
}
#search_goods .search_Recommend{
	    overflow: hidden;
    margin-top: 45px;
}
#search_goods .search_Recommend>p{
	    color: #999;
    font-size: 13px;
    height: 32px;
    line-height: 32px;
	margin-left: 10px
}
#search_goods .search_Recommend>div{
	overflow: hidden;
	background: #fff;
	padding: 8px 18px 10px 24px;
}
#search_goods .search_Recommend>div>a{
	float: left;
    display: block;
    padding: 3px 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-right: 11px;
    margin-top: 7px;
    color: #3d4245;
	font-size: 14px;
	    height: 24px;
}
