@charset "utf-8";
body {
	background: #f3f5f7;
}
.swiper-container {
	width: 100%;
}
.swiper-pagination {
	bottom: 0 !important;
}
.swiper-pagination .swiper-pagination-bullet {
	width: 6px;
	height: 6px;
	display: inline-block;
	border-radius: 100%;
	border: 1px solid #eee;
	background: #fff;
	opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active {
	background: #f23030;
	border: 1px solid #f23030;
}
.group-list-box {
	margin: 10px 0;
	float: left;
	width: 70%;
	margin-left: 1%;
	overflow-y: auto;
	height: 100%;
}
.group-list-box .group-list-title {
	display: block;
	background: #fff;
	padding: 0 2.5%;
	height: 2.45rem;
	line-height: 2.45rem;
	font-size: 0.8rem;
	color: #222;
	border-bottom: 0.05rem solid #eee;
	font-weight: normal;
}
.group-list-box .group-list li {
	display: block;
	margin-bottom: 10px;
	position: relative;
	background: #fff;
	padding: 0 2.5%;
	border-top: 0.05rem solid #eee;
	border-bottom: 0.05rem solid #eee;
}
.group-list-box .group-list li .brand-name {
	display: block;
	width: 100%;
	height: 1.5rem;
	line-height: 1.5rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #222;
	font-size:14px;
	text-align: center;
}
.group-list-box .group-list li .p-img {
	position: relative;
	width: 100%;
	min-height: 70px;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
}
.group-list-box .group-list li .p-img a{
	display: block;
	width: 100%;
	padding: 50% 0;
}
.group-list-box .group-list li .p-img a img {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.group-list-box .group-list li .p-img .p_discount {
	height: 30px;
	top: 15px;
	padding: 0 5px;
	z-index: 10;
	position: absolute;
	right: 0;
	background-color: red;
	line-height: 30px;
	color: #fff;
	border-radius: 3px 0 0 3px;
}
.group-list-box .group-list li.good-no .good-no-box {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	background: rgba(0, 0, 0, .5);
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -1.75rem;
	margin-left: -1.75rem;
}
.group-list-box .group-list li.good-no .good-no-box p {
	display: block;
	margin-top: 0.9rem;
	line-height: 1rem;
	font-size: 0.7rem;
	color: #fff;
	text-align: center;
}
.group-list-box .group-list li.good-no .good-no-box span {
	display: block;
	line-height: 0.7rem;
	font-size: 0.45rem;
	color: #fff;
	text-align: center;
}
.group-list-box .group-list li .p-img .brand-time {
	width: 100%;
	height: 35px;
	line-height: 35px;
	color: #999;
	margin-top: 12px;
	font-family: verdana;
	font-size: 12px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	background: rgba(0, 0, 0, .4);
	text-align: left;
}
.group-list-box .group-list li .p-img .brand-time i {
	width: 23px;
	height: 23px;
	background: url(../images/icon_timer.png) no-repeat 0 0;
	background-size: 20px;
	vertical-align: middle;
	background-position: 2px;
	display: inline-block;
}
.group-list-box .group-list li .p-img .brand-time span {
	color: #fff;
	font-size: 0.6rem;
	vertical-align: middle;
}
.group-list-box .group-list li .brand-info {
	height: 3rem;
}
.group-list-box .group-list li .brand-info .brand-info-left {
	float: left;
}
.brand-info .brand-info-left .b-price {
	color: #f23030;
	font-weight: bold;
	font-size:12px;
	line-height: 1.25rem;
}
.brand-info .brand-info-left .b-price em {
	display: inline-block;
	text-indent: 5px;
	font-size: 0.6rem;
	color: #999;
}
.brand-info .brand-info-left .buyer {
	line-height: 0.75rem;
	font-size: 0.55rem;
	color: #999;
}
.brand-info .brand-info-right {
}
.brand-info .brand-info-right .main-btn {
	display: block;
    height: 28px;
    line-height: 28px;
    background: #f23030;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    width: 75px;
    margin-left: 4%;
    font-size: 12px;
    width: 92%;
}
.group-list-box .group-list li.good-no .brand-info .brand-info-right .main-btn
	{
	background: #B8B8B8
}
.pro-goods-box {
	display: block;
	background: #3f5f7;
}
.pro-goods-box ul>.tablelist-append {
	background: #fff;
}
.pro-goods-box .pro-goods-item {
	position: relative;
	display: -webkit-box;
	padding: 3px;
	border-bottom: 1px solid #f6f6f9;
	background: #fff;
}
.pro-goods-box .pro-goods-item a {
	display: -webkit-box;
}
.pro-goods-box .pro-goods-item .pro-goods-img {
	position: relative;
	height: 115px;
	width: 115px;
	margin-right: 12px;
	overflow: hidden;
}
.pro-goods-box .pro-goods-item .pro-goods-img img {
	width: 100%;
	height: auto;
}
.pro-goods-box .pro-goods-item .pro-goods-info {
	-webkit-box-flex: 1;
	margin-top: 9px;
	margin-right: 6px;
	color: #999;
}
.pro-goods-box .pro-goods-item .pro-goods-info .pro-goods-name {
	height: 32px;
	line-height: 16px;
	margin-bottom: 3px;
	color: #333;
	font-size: 15px;
	overflow: hidden;
}
.pro-goods-box .pro-goods-item .pro-goods-info .pro-goods-labels {
	height: 12px;
	line-height: 12px;
	font-size: 10px;
}
.pro-goods-box .pro-goods-item .pro-goods-info .item-wrap {
	margin: 5px 0 8px;
	display: -webkit-box;
}
.pro-goods-box .pro-goods-item .pro-goods-info .item-price {
	-webkit-box-flex: 1;
	height: 26px;
	line-height: 26px;
}
.pro-goods-box .pro-goods-item .pro-goods-info .item-price .item-newprice
	{
	color: #f23030;
	font-size: 14px;
}
.pro-goods-box .pro-goods-item .pro-goods-info .item-price .item-newprice span
	{
	font-size: 21px;
}
.pro-goods-box .pro-goods-item .pro-goods-info .item-price .item-oldprice
	{
	font-size: 12px;
}
.pro-goods-box .pro-goods-item .pro-goods-info .item-action {
	height: 26px;
	line-height: 26px;
	width: 59px;
	border-radius: 4px;
	text-align: center;
	color: #fff;
	background: #f23030;
}
.pro-goods-box .pro-goods-item .pro-goods-info .item-status {
	display: -webkit-box;
	-webkit-box-align: center;
	color: #f23030;
}
.pro-goods-box .pro-goods-item .pro-goods-info .item-status .status-bar
	{
	width: 90px;
	background: #ffada2;
	border-radius: 5px;
	height: 10px;
	position: relative;
	overflow: hidden;
}
.pro-goods-box .pro-goods-item .pro-goods-info .item-status .status-progress
	{
	background: #f23030;
	height: 100%;
	border-radius: inherit;
	text-align: center;
	line-height: 12px;
	padding-left: 12px;
	position: relative;
	left: -12px;
	box-sizing: content-box;
}
.pro-goods-box .pro-goods-item .pro-goods-info .item-status .status-soldrate
	{
	display: block;
	position: absolute;
	top: 1px;
	left: 50%;
	width: 40px;
	margin-left: -20px;
	color: #fff;
	font-size: 10px;
	line-height: 10px;
	text-align: center;
}
.pro-goods-box .pro-goods-item .pro-goods-info .item-status .status-num
	{
	-webkit-box-flex: 1;
	height: 12px;
	line-height: 12px;
	text-align: right;
	font-size: 12px;
}
.pro-goods-box .pro-goods-item.good-no .pro-goods-info .item-action,
	.pro-goods-box .pro-goods-item.good-no .pro-goods-info .status-num {
	display: none
}
.pro-goods-box .pro-goods-item.good-no .pro-goods-info .sold-out-btn {
	height: 50px;
	width: 50px;
	background: url(../../images/sold_out.png);
	background-size: contain;
	overflow: hidden;
	background-size: 50px;
	padding: 0;
	position: absolute;
	bottom: 10px;
	right: 8px;
	border: none;
}