 * {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a,a:hover,a:active,a:link,a:visited{
	text-decoration: none;
}
*,a {
    font-family: "微软雅黑","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clear{
    clear: both;
    zoom: 1;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table tr th, table tr td {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #222222;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.body-gray {
    background: #eee;
}
.my-account{
	padding-top: 45px;
}
.my-account .account-box {
    border-top: 1px solid #f77c52;
    background: -webkit-linear-gradient(#FE4445, #FF8458); 
    background: -o-linear-gradient(#FE4445, #FF8458); 
    background: -moz-linear-gradient(#FE4445, #FF8458); 
    background: linear-gradient(#FE4445, #FF8458); 
    padding: 15px 0;
    text-align: center;
}
.my-account .account-box .account-title {
    font-size: 16px;
    font-weight: 200;
    line-height: 45px;
    color: #fff;
}
.my-account .account-box .bottom{
	border: 1px solid #f56430;
    padding: 7px;
    border-radius: 6%;
    background: #ff8458;
    color: #f7f7f7;
}
.my-account .account-box .balace {
    font-size: 42px;
    color: #fff;
}
.detail-main table{
	width:100%;border:none;margin-bottom: 54px;
}
.detail-main table tr{
	overflow: hidden;
    border-bottom: 1px solid #ddd;
    float: left;
    width: 100%;
    background: #FFFFFF;
}
.detail-main table tr td{float: left;}
.detail-main table tr td:first-child img{
	max-width: 44px;
	height: auto;
}
.detail-main table tr td:last-child{
	width: 100%;
}
.detail-main table tr td:last-child p{
	line-height: 22px;
    margin-bottom: 0px;
    width: 100%;
    font-size: 16px;
}
.detail-main table tr td:last-child .title{
	float: left;
    color: #2d2d2d;
    font-size: 14px;
}
.detail-main table tr td:last-child .money{
	float: right;
    font-size: 14px;
    color: #FF7C56;
}
.detail-main table tr td:last-child .money.fu{
	color: #999;
}
.detail-main table tr td:last-child .date{
	 color: #909090;
    font-size: 12px;
}
.detail-main table tr td:last-child p:last-child{
	float: left;
	color: #666666;
	font-size: 12px;
}
.emptyFrame{
	width:  100%;
    margin: 60px auto 0;
    text-align: center;
}
.emptyFrame span {
    width:  100%;
    text-align: center;
    color: #DD997F;
    font-size: 14px;
    float: left;
    display: inline-block;
    margin-top: 20px;
}
.emptyFrame .user_balance {
    background: url(../images/point.png) no-repeat;
    width: 110px;
    height: 68px;
    background-size: 100%;
    display: inline-block;
}
.emptyFrame .user_money {
    background: url(../images/balance.png) no-repeat;
    width: 110px;
    height: 68px;
    background-size: 100%;
    display: inline-block;
}
.detail-main .integral-declaration{
    margin-bottom: 20px;
}
.detail-main .integral-declaration .declaration-title{
    height: 35px;
    line-height: 35px;
    border-left: 3px solid #626262;
    padding-left: 8px;
    background: #fff;
    font-size: 16px;
    border-bottom: 1px solid #eee;
}
.detail-main .integral-declaration .declaration-content{
    padding: 10px;
    color: #5B5B5A;
    background: #fff;
}
.recharge{
	float: right;
    width: 49px;
    height: 29px;
    margin: 19px;
    border: 1px solid #fff;
    color: #fff;
    line-height: 29px;
    text-align: center;
	position: absolute;
    right: 2px;
}
.payment{
	margin-top: 55px;
    overflow: hidden;
	line-height: 50px;
    padding-left: 15px;
    background: #fff;
}
.s-btn button.alipay {
    background: #FF6600;
}
.s-btn button {
    width: 100%;
    border: 0;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: #FFF;
    background: #FF6600;
    outline: none;
}
.payment>span {
    width: 28%;
    font-size: 14px;
    display: block;
    float: left;
	height:50px;
	line-height:50px;
}
.pay-money{
	width:72%;
    box-shadow: none;
    margin: 0;
    height: 35px;
    border: none;
    display: inline-block;
}