@charset "UTF-8";
a,img,button,input,select{-webkit-tap-highlight-color:transparent;outline:0}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;vertical-align:baseline}img{border:0 none;vertical-align:top}
i,em{font-style:normal}ol,ul{list-style:none}
input,select,button,h1,h2,h3,h4,h5,h6{font-size:100%;font-family:inherit}
body{margin:0 auto;min-width:320px;height:100%;background:#FFF;font-size:14px;line-height:1.5;color:#666;-webkit-text-size-adjust:100%;-webkit-user-select:none;user-select:none}
.shop_slider{background-color:#e1e1e1;position:relative;}
.shop_slider .inner{width:100%;height:160px;overflow:hidden;position:relative}
.shop_slider .pic_list{width:800%;position:absolute}
.shop_slider .pic_list li{float:left;width:320px;height:160px;position:relative}
.shop_slider .bar_wrap{width:100%;height:18px;position:absolute;bottom:20px;left:0;right:0;z-index:20;text-align:center}
.shop_slider .bar{display:inline-block;padding:0 4px;min-width:58px;height:18px;overflow:hidden;text-align:center;background:rgba(0, 0, 0, 0.5);border-radius:10px}
.shop_slider .bar li{display:inline-block;margin:5px 3px;width:8px;height:8px;background:#fff;opacity:0.5;border-radius:5px;cursor:pointer}
.shop_slider .bar li.cur{opacity:1}
.shop_slider_480 .inner{height:240px}
.shop_slider_480 .pic_list li{height:240px}
.shop_slider_640 .inner{height:320px}
.shop_slider_640 .pic_list li{height:320px}
.shop_slider_auto .inner{height:auto}
.shop_slider_auto .pic_list{position:static}
.shop_slider_auto .pic_list li{width:100%;height:auto;-webkit-overflow-scrolling:touch;-webkit-user-select:none;-ms-user-select:none;-moz-user-select:none;user-select:none}
.shop_slider_auto .pic_list li img{display:inline-block;height:100%;width:100%;}