{extend name="adminblue/base" /}
{block name="resources"}
<script type="text/javascript" charset="utf-8" src="ADMIN_JS/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="ADMIN_JS/ueditor/ueditor.all.common.js"></script>
{/block} 
{block name="main"}
<div class="set-style">
	<dl>
		<dt><span class="required">*</span>标题：</dt>
		<dd>
			<input id="title" type="text" class="input-common" />
		</dd>
	</dl>
	<dl style="display:none;">
		<dt>标题图片：</dt>
		<dd>
			<div class="class-logo">
				<p>
					<img id="imglogo">
				</p>
			</div>
			<div class="upload-btn">
				<span>
					<input class="input-file" name="file_upload" id="uploadImg" type="file" onchange="imgUpload(this);">
					<input type="hidden" id="logo" />
				</span>
				<p><i class="fa fa-cloud-upload"></i>上传图片</p>
			</div>
			<p class="hint">
				<span style="color: orange;">建议使用宽100像素-高100像素内的GIF或PNG透明图片；点击下方"提交"按钮后生效。</span>
			</p>
		</dd>
	</dl>
	<dl style="display:none;">
		<dt>链接地址：</dt>
		<dd>
			<input id="link_url" type="text" class="input-common" />
		</dd>
	</dl>
	<dl>
		<dt>所属分类：</dt>
		<dd>
			<select id="class_id" class="select-common">
			{volist name="help_class_list" id="v"}
				<option value="{$v['class_id']}">{$v['class_name']}</option>
			{/volist}
			</select>
		</dd>
	</dl>
	<dl>
		<dt><span class="required">*</span>内容：</dt>
		<dd>
			<script id="editor" type="text/plain" style="width: 100%; height: 320px;"></script>
		</dd>
	</dl>
	<dl>
		<dt>排序：</dt>
		<dd>
			<input id="sort" class="input-common" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" />
		</dd>
	</dl>
	
	<dl>
		<dt></dt>
		<dd><button class="btn-common btn-big" onclick="setConfigAjax();">提交</button></dd>
	</dl>
</div>
<script src="__STATIC__/js/ajax_file_upload.js" type="text/javascript"></script>
<script src="__STATIC__/js/file_upload.js" type="text/javascript"></script>
<script>
var ue = UE.getEditor('editor',{
	toolbars : [
		[ 'source', // 源代码
		'bold', // 加粗
		'italic', // 斜体
		'underline', // 下划线
		'strikethrough', // 删除线
		'forecolor', // 字体颜色
		'backcolor', // 背景色
		'fontfamily', // 字体
		'fontsize', // 字号
		'paragraph', // 段落格式
		'justifyleft', // 居左对齐
		'justifycenter', // 居中对齐
		'justifyright', // 居右对齐
		'superscript', // 上标
		'blockquote', // 引用
		'selectall', // 全选
		'preview', // 预览
		'removeformat', // 清除格式
		'inserttable', // 插入表格
		'unlink', // 取消链接
		'insertrow', // 前插入行
		'insertcol', // 前插入列
		'mergeright', // 右合并单元格
		'mergedown', // 下合并单元格
		'deleterow', // 删除行
		'deletecol', // 删除列
		'splittorows', // 拆分成行
		'splittocols', // 拆分成列
		'splittocells', // 完全拆分单元格
		'deletecaption', // 删除表格标题
		'inserttitle', // 插入标题
		'mergecells', // 合并多个单元格
		'deletetable', // 删除表格
		'cleardoc', // 清空文档
		'simpleupload', // 单图上传
		'insertimage', // 多图上传
		'link', // 超链接
		'emotion', // 表情
		'insertorderedlist', // 有序列表
		'insertunorderedlist', // 无序列表
		'fullscreen', // 全屏
		'directionalityltr', // 从左向右输入
		'directionalityrtl', // 从右向左输入
		'imagenone', // 默认
		'imageleft', // 左浮动
		'imageright', // 右浮动
		// 'attachment', // 附件
		'imagecenter', // 居中
		'lineheight', // 行间距
		'customstyle', // 自定义标题
		]]
});
var if_submit  = false;
function setConfigAjax() {
	var title = $("#title").val();
	var class_id = $("#class_id").val();
	var link_url = $("#link_url").val();
	var image = $("#logo").val();
	var content = UE.getEditor('editor').getContent();
	var sort = $("#sort").val();
	if(title == ""){
		showMessage('error', "请输入标题");
		return;
	}
	if(content == ""){
		showMessage('error', "请输入内容");
		return;
	}
	if(!if_submit){
		if_submit = true;
		$.ajax({
			type : "post",
			url : "{:__URL('ADMIN_MAIN/config/adddocument')}",
			data : {
				'title' : title,
				'class_id' : class_id,
				'link_url' : link_url,
				'content' : content,
				'image' : image,
				'sort' : sort
			},
			success : function(data) {
				if_submit  = false;
				if (data["code"] > 0) {
					showMessage('success', data["message"], "{:__URL('ADMIN_MAIN/config/helpdocument')}");
				} else {
					showMessage('error', data["message"]);
				}
			}
		});
	}
}
//图片上传
function imgUpload(event) {
	var fileid = $(event).attr("id");
	var data = { 'file_path' : UPLOADCOMMON };
	uploadFile(fileid,data,function(res){
		if(res.code){
			$("#imglogo").attr("src",__IMG(res.data));
			$("#logo").val(res.data);
			showTip(res.message,"success");
		}else{
			showTip(res.message,"error");
		}
	});
}
</script>
{/block}