@CHARSET "UTF-8";
.evaluate_main{
	background-color: #fff;
	width: 700px;
	float: left;
	padding-left: 20px;
}	
}
.evaluate_main .title{
	height: 20px;
    padding: 10px 0;
    border-bottom: solid 1px #EEE;
}
.user-right .evaluate_main ul li{
  	width: auto;
	line-height: 2em;
	margin-bottom: 10px;
  	overflow: hidden;	
}
.evaluate_main .evaluate_block {
	color: #C09853;
    background-color: #FCF8E3;
    padding: 9px 14px;
    margin: 10px auto;
    border: 1px solid #FBEED5;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.evaluate {
width:100%;
height:300px;
	border-bottom: 1px solid #EEE;	
}
.evaluate_left{
float:left; 
width:200px;
height:90%;
margin:10px;
}
.evaluate_left_top{
	margin:10px 0;
	height:80%;
	width:100%;
}
.evaluate_left_top img{
	width:100%;
	height:100%;
}
.evaluate_left_bottom{
	margin: 20px 0;
    height: 30px;
    width: 100%;
    overflow: hidden;
}
.evaluate_left_bottom_main{
	height:18px;	
	font-size: 12px;
    line-height: 20px;
    color: #333;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 160px;
    height: 20px;
    padding: 0;
    overflow: hidden;
}
.evaluate_right{
	float:right;
	width:65%;
	height:100%;
}
.evaluate_right_one{
	margin:20px 0;
}
.evaluate_right_one img{
	/*margin-top:5px;*/
}
.evaluate_right_two{
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 0px;
}
.evaluate_right .input-file { 
	 width: 80px;
	 height: 40px;
	 padding: 0;
	 margin: 0;
	 border: none 0;
	 opacity:0;
	 filter: alpha(opacity=0); 
	 cursor: pointer; 
	line-height:20px; 
	background-color:#FBFBFB;
}
.evaluate_right_three{
       position: relative;
    top: 6px;
    z-index: 1;
    background-color: #F5F5F5;
    text-align: center;
    color: #666;
    width: 78px;
    height: 26px;
    border: solid 1px;
    border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC;
    display: block;
    float: left;
    margin-right: 12px;
    line-height: 26px;
	cursor: pointer;
}
.evaluate_right_three.disabled{
	    color: #999;
    background: #ddd;
}
.evaluate_right_four{
	float: left;
    display: block;
    margin-top: 10px;
    margin-left: 7px;
}
.evaluate_right_five{
	position:relative;
	top:15px;
 	left:140px;
}
.evaluate_form .submit{
	font: 14px/36px "microsoft yahei";
    text-align: center;
	width:60px;
    height: 36px;
	color: #FFF;
    background-color: #48CFAE;
    display: block;
    padding: 0 20px;
    border-radius: 3px;
    border: none 0;
    cursor: pointer;
}
.evaluate_bottom{
	margin-top:40px;
	margin-left:290px;
}
/* 评价类型显示 */
.evaluate_right .item-rate-act{
	    overflow: hidden;
    width: 100%;
    margin-bottom: 0px;
    float: left;
    margin-top: 17px;
}
.evaluate_right .item-rate-act ul>li{
	float: left;
	width: 20%;
	display: inline;
}
.evaluate_right .item-rate-act ul>li>label{
	    float: left;
    padding: 4px 5px;
    cursor: pointer;
}
.evaluate_right .item-rate-act ul>li>label>input{
	    vertical-align: text-bottom;
    margin-right: 5px;
}
.tb-rate-ico.ico-good{
    background-position: 0 -100px;
}
.tb-rate-ico.ico-neutral{
    background-position: 0 -50px;
}
.tb-rate-ico.ico-bad{
    background-position: 0 0;
}
.tb-rate-ico {
    width: 20px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}
.tb-rate-ico, .tb-rate-ico-bg {
    background: transparent url(../images/review_ico.png) no-repeat 1000px 1000px;
}
/* 评价内容 */
.evaluate_right .rate_content{
    border: 1px solid #DAF1FC;
    padding: 3px;
    background: #EEF8FD;
    zoom: 1;
    position: relative;
    padding-bottom: 48px;
}
.evaluate_right .rate_content textarea{
	resize: none;
    width: 97%;
    padding-left: 7px;
    padding-top: 5px;
}
.evaluate_right .rate_content .evaluate_right_isni{
	height: 40px;
    display: block;
    float: right;
    margin-right: 14px;
    line-height: 40px;
}
.evaluate_right .rate_content .evaluate_right_imgs{
	float: left;
}
.evaluate_right_imgs li{
	float:left;
	display:block;
	height: 36px;width: 36px;
	background: no-repeat center center;
    background-size: cover;
	margin-right: 5px;
}
.evaluate_right_imgs li>span{
	cursor: pointer;
    text-align: center;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    z-index: 3;
    font-size: 12px;
    background-color: #000;
    opacity: .8;
    filter: alpha(opacity=80);
    color: #FFF;
    text-decoration: none;
    display: none;
}