{extend name="admin/base" /} {block name="resources"/}
<style type="text/css">
.input-append .add-on,.input-prepend .add-on {
	height: 22px;
}

.server-msg .header-bgf7 th {
	background: #f7f7f7;
}

.table th,.table td {
	border: 1px solid #dddddd;
}
</style>
{/block} {block name="right_tab"} {/block} {block name="main"}
<div class="server-msg content">
	<div class="mb10">
		<div class="tiphelp-info">
			<strong>提示：</strong>如果，请查看是否是由于以下原因造成：<br>
			1、是否添加了”模板消息“功能插件。添加方法：在微信公众平台的左侧菜单点击”添加功能插件“按钮，在右侧点击”模板消息“，再点击”申请“，填写”申请开通模板消息接口“表单，点击”提交“，等待审核通过即可。<br>
			2、在微信公众平台的“模板库”里点击“修改行业”，弹出层里面的“主营行业”全部选择“消费品”，”副营行业“全部选择”其它“;<br>
			3、在微信公众平台里”我的模板“最多添加15个，如果多于15个，请删除不用的模板。
		</div>
	</div>
	<table class="table header-bgf7" border="1">
		<colgroup>
			<col style="width: 20%">
			<col style="width: 20%">
			<col style="width: 30%">
			<col style="width: 30%">
		</colgroup>

		<tbody>
			<tr>
				<th>编号</th>
				<th>标题</th>
				<th>内容示例</th>
				<th>模板ID</th>
			</tr>
		</tbody>
		<tbody id="grouplis">
			{foreach name="message" item="info" }
			<tr name="li">
				<td>{$info['template_no']}</td>
				<td>{$info['title']}</td>
				<td>
					<div class="example-txt">
						{$info['headtext']}，<br> 姓名：何某某<br>联系方式：187xxxxxxxx<br>
						店铺类型：普通店铺 <br>{$info['bottomtext']}
					</div>
				</td>
				<td></td>
			</tr>
			{/foreach}
		</tbody>
	</table>
	<p class="button">
		<button class="btn btn-large btn-primary" type="button"
			onclick="GetTemplateID(this)">获取</button>
	</p>
</div>


<script>
	
</script>
{/block}
