@CHARSET "UTF-8";

.list {
	width: 100%;
	color: #333333;
}

.list td {
	padding: 10px;
	border: 1px solid #eeeeee;
}

.list .head {
	background-color: #E8F2FF;
}

.list .head a {
	text-decoration: none;
}

.list .head input {
	margin: 0;
}

.list .head label {
	vertical-align: middle;
	display: inline-block;
	font-weight: normal;
	margin: 0;
}

.list .head div {
	float: right;
}

.list .address {
	
}

.list .address button {
	border: 1px solid #eeeeee;
	color: #6b6b6b;
	background: #f6f6f6;
	padding: 5px 15px;
	outline: none;
	font-size: 12px;
	border-radius: 3px;
}

.list .address button:hover {
	color: #FF5722;
}

.info label {
	float: left;
	font-weight: normal;
	cursor: inherit;
}

.info span {
	float: right;
	font-weight: bold;
	color: #FF5722;
}

.status-enable {
	color: #4CAF50;
}

.status-close {
	color: #F44336;
}

.mask-layer {
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	display: none;
	z-index: 3000;
}

.mask-address-info {
	background: #ffffff;
	width: 500px;
	height: 400px;
	position: fixed;
	z-index: 3001;
	display: none;
}

.mask-address-info header {
	background: #eeeeee;
	padding: 10px;
	text-align: center;
	position: fixed;
	top: 0;
	width: 480px;
}

.mask-address-info header i {
	float: right;
	cursor: pointer;
	font-style: normal;
}

.mask-address-info div {
	width: 100%;
}

.mask-address-info div h3 {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	border-bottom: 1px solid #eeeeee;
}

.mask-address-info div ul {
	margin: 0;
	overflow: hidden;
}

.mask-address-info div ul li {
	float: left;
	padding: 10px;
	width: 15.6%;
	text-align: center;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}