{extend name="admin/base" /}
{block name="resources"/}
<style type="text/css">
.set-style {
	width: 100%;
}
.set-style dl {
	width: 100%;
	font-size: 0;
	/* line-height: 20px; */
	clear: both;
	padding: 0;
	margin: 0;
	border-bottom: dotted 1px #E6E6E6;
	overflow: hidden;
}
.set-style dl dt {
	font-size: 12px;
	line-height: 32px;
	vertical-align: top;
	letter-spacing: normal;
	word-spacing: normal;
	text-align: right;
	display: inline-block;
	width: 19%;
	padding: 10px 1% 10px 0;
	margin: 0;
	font-weight: normal;
}
.set-style dl dd {
	font-size: 12px;
	line-height: 32px;
	vertical-align: top;
	letter-spacing: normal;
	word-spacing: normal;
	display: inline-block;
	width: 78%;
	padding: 10px 0 10px 0;
}
.set-style dl dd input[type="text"], .set-style dl dd input[type="password"]{
	font: 12px/20px Arial;
	color: #777;
	background-color: #FFF;
	vertical-align: top;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding: 4px;
	border: 1px solid #CCC;
	outline: 0 none;
	width: 400px;
	margin: 0;
}
.set-style dl dd textarea {
	font: 12px/20px Arial;
	color: #777;
	background-color: #FFF;
	vertical-align: top;
	display: inline-block;
	height: 60px;
	padding: 4px;
	border: solid 1px #CCC;
	outline: 0 none;
	width: 400px;
	margin: 0;
}

.hint {
	font-size: 12px;
	line-height: 16px;
	color: #BBB;
	margin-top: 10px;
}

.set-style dl dd p img {
	border: medium none;
	vertical-align: middle;
}

.class-logo {
	background-color: #FFF;
	position: relative;
	z-index: 1;
}

.class-logo p {
	width: 200px;
	height: 60px;
	line-height: 0;
	background-color: #FFF;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	*display: block;
	overflow: hidden;
	margin: 0 0 10px;
	border: dashed 1px #E6E6E6;
}

.class-logo p img {
	max-width: 200px;
	max-height: 60px;
	border: medium none;
	vertical-align: middle;
	margin-top: expression(60-this .height/ 2);
	*margin-top: expression(30-this .height/ 2);
}

.edit_button {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #51A351;
	color: #FFF;
	margin: 20px auto;
	border: none;
	display: block;
}

.error {
	font-size: 12px;
	line-height: 16px;
	color: red;
	margin-top: 10px;
	display: none;
}

.set-style dl dd p {
	margin-bottom: 0;
}
.required{color:red;margin-right:10px;}
</style>
{/block}
{block name="main"}
<div class="set-style">
	<dl>
		<dt><span class="color-red">*</span>钩子名称:</dt>
		<dd>
			<p><input id="name" type="text"></p>
			<p class="error">请输入钩子名称</p>
			<p class="hint">需要在程序中先添加钩子，否则无效</p>
		</dd>
	</dl>
	<dl>
		<dt>钩子描述:</dt>
		<dd>
			<p><textarea id="desc"></textarea></p>
			<p class="hint">钩子的描述信息</p>
		</dd>
	</dl>
	<dl>
		<dt>钩子类型:</dt>
		<dd>
			<p>
				<select id="type">
				   <option value="1">视图</option>
				   <option value="2">控制器</option>
				</select>
			</p>
			<p class="hint">区分钩子的主要用途</p>
		</dd>
	</dl>
	<dl>
		<button class="edit_button" onclick="save()">确定</button>
   </dl>
</div>
<script>
/**
*添加广告位
*/
function save() {
	var name = $("#name").val();
	var desc = $("#desc").val();
	var type = $("#type").val();
	if(verify(name)){
		$.ajax({
			type : "post",
			url : "{:__URL('ADMIN_MAIN/extend/addHooks')}",
			data : {
				'name' : name,
				'desc' : desc,
				'type' : type,
			},
			async : true,
			success : function(data) {
				if (data["code"] > 0) {
					showMessage('success', "添加成功","{:__URL('ADMIN_MAIN/extend/hookslist')}");
				}else{
					showMessage('error', "添加失败");
				}
			}
		});
	}
	
}
function verify(name){
	if(name == ''){
		$("#name").parent().next(".error").show();
		$('#name').focus();
		return false;
	}else{
		$(".error").hide();
	}
	return true;
}
</script>
{/block}