body{
	background-color: #000000;
}
*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}


.focus-img{
	position: relative;
	width: 1000px;
	height: 60px;
	margin: 100px auto;
	background-color: #333;
}


.focus-img-con{
	position: relative;
	width: 800px;
	height: 60px;
	margin: 0 auto;
	background-color: #fff;
	overflow: hidden;
}

.focus-img-con ul{
	position: absolute;
	top: 0;
}
.focus-img-con ul li{
	color: #fff;
	text-align: center;
	line-height: 60px;
	padding-right: 10px;
	float: left;
}
.focus-img-con ul li div{
	width: 104px;
	height: 60px;
	background-color: #B74343;
}
.focus-img .change-bnt{
	display: block;
	width: 30px;
	height: 50px;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	background-color: #B74343;
}
.focus-img .change-bnt.prev-bnt{
	left: 10px;
}
.focus-img .change-bnt.next-bnt{
	right: 10px;
}