{extend name="adminblue/base" /}
{block name="resources"/}
<script type="text/javascript" src="__STATIC__/My97DatePicker/WdatePicker.js"></script>
{/block}
{block name="main"}
<table class="mytable">
	<tr>
		<td width="10%">
			<input type="text" id='startDate' placeholder="请选择开始日期" class="input-medium input-common" onclick="WdatePicker()"/>
			&nbsp;-&nbsp;
			<input type="text" id='endDate' placeholder="请选择结束日期" class="input-medium input-common" onclick="WdatePicker()" />
			<select id="form_type" class="select-common">
				<option value="">请选择类别</option>
				<option value="1">商城订单</option>
				<option value="2">订单退还</option>
				<option value="3">兑换</option>
				<option value="4">充值</option>
				<option value="5">签到</option>
				<option value="6">分享</option>
				<option value="7">注册</option>
				<option value="8">提现</option>
				<option value="9">提现退还</option>
			</select>
			<input type="text" id='search_text' placeholder="请输入会员昵称" class="input-common" />
			<input type="button" onclick="searchData()" value="搜索" class="btn-common"/>
		</td>
	</tr>
</table>
<table class="table-class">
	<thead>
		<tr align="center">
			<th>会员昵称</th>
			<th style="text-align:left;">类别</th>
			<th style="text-align:left;">金额</th>
			<th style="text-align:left;">描述</th>
			<th>时间</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

{/block}
{block name="script"}
<script type="text/javascript">
function LoadingInfo(page_index) {
	var search_text = $("#search_text").val();
	var start_date = $("#startDate").val();
	var form_type = $("#form_type").val();
	var end_date = $("#endDate").val();
	$.ajax({
		type : "post",
		url : "{:__url('ADMIN_MAIN/member/accountlist')}",
		data : { "page_index" : page_index, "page_size" : $("#showNumber").val(), "search_text":search_text, "form_type":form_type, "start_date":start_date, "end_date":end_date },
		success : function(data) {
			var html = '';
			if (data["data"].length > 0) {
				for (var i = 0; i < data["data"].length; i++) {
					html += '<tr align="center">';
					if(data["data"][i]["nick_name"]==null){
						html += '<td>--</td>';
					}else{
						html += '<td>'+ data["data"][i]["nick_name"] +'</td>';
					}
					html += '<td style="text-align:left;">'+data["data"][i]["type_name"]+'</td>';
					html += '<td style="text-align:left;">'+ data["data"][i]["number"] +'</td>';	
					html += '<td style="text-align:left;">'+ data["data"][i]["text"] +'</td>';
					html += '<td align="center">'+ timeStampTurnTime(data["data"][i]["create_time"]) +'</td>';
					html += '</tr>';
				}
			} else {
				html += '<tr align="center"><td colspan="9">暂无符合条件的数据记录</td></tr>';
			}
			$(".table-class tbody").html(html);
			initPageData(data["page_count"],data['data'].length,data['total_count']);
			$("#pageNumber").html(pagenumShow(jumpNumber,$("#page_count").val(),{$pageshow}));
		}
	});
}

function searchData(){
	LoadingInfo(1);
}
</script>
{/block}