@CHARSET "UTF-8";
.money-source-li {background: none;}
.bro-spare .field-2 {margin: 0;width: 33.33%;text-align: center;padding-top:10px;}
.bro-spare {border: 0;padding: 20px 15px 5px 15px;}
.bro-spare .number-big {text-shadow: 1px 2px 0 #8B2A2C;font-size:38px;}
.xiajip{padding: 8px;margin-bottom: 0;border-bottom: 1px solid #eee;}
.xiajispanleft{font-size: 14px;padding: 3px;line-height: 20px;border-radius-left: 20px;border-top-left-radius: 5px; border-top-right-radius: 5px;color:#000000;}
.xiajispanright{float:right;line-height: 28px;margin-right: 19px;color:#000000;}
.maneylist-li a { font-size: 12px;}
button, .button {height: 40px; line-height: 40px;font-size: 16px;}
.maneylist-li .money-number{margin: 0px;margin-right:30px;}
.a-borkerage-detail{background:#F63000;border:1px solid #F63000;padding:3px 5px;float:right;height:30px;line-height:23px;margin-top:7px;}
.a-borkerage-detail_2{background:#F63000;border:1px solid #F63000;padding:3px 5px;float:right;height:30px;line-height:23px;margin-top:7px;color:#fff;}
.tip_head{width:56%;margin:auto;text-align: center;}
.tip_bottom .lf{float:left;}
.tip_bottom .rg{float:right;}
.tip_bottom{border-top: 1px solid #E9B7AF;margin-top:10px;}
.module-icon{margin-right: 3px;margin-top: 3px;}
.maneylist .maneylist-li .arrow{right:10px;}
.gd i.shareholder {background-position: -9px -37px;}
.gd i {
    margin-right: 3px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../images/distribution_center_ico.png) no-repeat;
    float: left;
}
.module-icon.extension {background-position: -6px -72px;  }
.module-icon {
    margin-right: 3px;
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../images/member_index_ico.png) no-repeat;
    float: left;
    margin-top: 3px;
}
.maneylist { margin: 0px 33px ;}
.blank{height:10px;background:#eee;}
.bro-extract-btn{background:#eee;padding: 20px 15px;margin-top:0;}
.maneylist-li p {
    font-size: 12px;
	 position: relative;
    display: block;
    color: #333;
	margin-bottom: 0; 
}
.a-borkerage{color: #333;float:right;}
.button.red {background: #FF4040;border: 1px solid #FF4040;}
.maneylist { margin: 0 0 0 15px;}
.maneylist-li{padding:10px 0 10px 15px;}
.maneylist-li .text {color:#000000;}
.maneylist-li .money-number{color:#FF7962;}
