@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
}

footer, nav, section, article, div, ul {
	margin: 0;
	padding: 0;
}

header {
	padding: 20px 10px;
	height: 60px;
	width: 1300px;
	margin: 0 auto;
}

header input {
	float: right;
	margin-top: 20px;
	margin-left: 8px;
	padding: 5px;
	border-radius: 3px;
}

.header-login {
	color: #fff;
	border: 1px solid #15A231;
	background: #15A231;
	width: 60px;
}

.header-register {
	color: #15A231;
	background: #fff;
	border: 1px solid #15A231;
	width: 60px;
}

.header-search {
	padding-left: 15px;
	margin-right: 8px;
	border: 1px solid #CCCCCC;
}

nav {
	color: #fff;
	background: #333;
	height: 50px;
	margin-bottom: -2px;
}

nav div {
	width: 1320px;
	margin: 0 auto;
	height: 100%;
}

nav ul li {
	float: left;
	list-style: none;
	width: 14%;
	text-align: center;
	height: 50px;
	line-height: 50px;
}

nav ul li:hover {
	cursor: pointer;
	color: #1bcc3b;
}

.banner-circle {
	display: block;
	width: 100%;
	height: 40px;
	position: relative;
	margin-top: -44px;
}

.banner-circle li {
	position: absolute;
	left: 50%;
	margin-left: -88px;
	list-style: none;
	height: 40px;
}

.banner-circle li a {
	display: block;
	width: 14px;
	height: 14px;
	float: left;
	margin-top: 12px;
	cursor: pointer;
	border-radius: 50%;
	background: transparent;
	margin-right: 15px;
	border: 1px solid #16A332;
}

.banner-circle li .noli {
	display: block;
	background: #16A332;
	width: 14px;
	height: 14px;
}

.banner {
	display: block;
}

.banner ul li {
	display: block;
	overflow: hidden;
	width: 100%;
}

.banner ul li img {
	width: 100%;
	height: 440px; /* 470px */
}

footer {
	
}

footer section {
	background: #666666;
	height: 210px;
}

footer section h1 {
	color: #fff;
	font-size: 28px;
}

footer section p {
	color: #FEFEFE;
	margin: 10px 0;
}

footer section div article {
	float: left;
	height: 100%;
	background: transparent;
	width: 70%;
}

footer section div aside {
	float: right;
	height: 100%;
	width: 19%;
}

footer section div aside p {
	float: left;
	margin-top: 120px;
	font-size: 18px;
}

footer section div aside img {
	width: 135px;
	height: 140px;
	padding: 8px;
	background: #fff;
	border-radius: 8px;
	border: 0;
	margin: 20px 10px;
}

footer article {
	background: #333;
	height: 40px;
}

footer section div, footer article div {
	width: 1320px;
	margin: 0 auto;
	height: 100%;
}

footer div ul li {
	float: left;
	line-height: 40px;
	text-align: center;
	list-style: none;
	width: 14%;
	color: #B3B3B3;
}